
<div class="ghost-lista">
    <div class="ghost-item">
      <div class="ghost-card">
  
        <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/TKZombie.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/TKWaves.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/TKNitro.jpg" alt="termék 1" class="ghost-kep">
        
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/TKFajita.jpg" alt="termék 1" class="ghost-kep">
       
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="ghost-card">
        <h3>Termék 1</h3> 
          <img src="./assets/ghostImg/TKChili.jpg" alt="termék 1" class="ghost-kep">
          <p>Leírás 1</p> 
          <p class="ar">Ár: 1500 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/TKCheese.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/Steak.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/Puff.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/PrPap.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/PrBBQ.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/HotPf.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/HotCr.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/HotCheese.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/Chipito.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/HotCheese.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/ChiliCheese.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/Chili.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/Chedarpop.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/ChedarPf.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/Chedar.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="ghost-card">
      <h3>Termék 1</h3> 
        <img src="./assets/ghostImg/Beef.jpg" alt="termék 1" class="ghost-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      
    
    </div>
  </div>
  