
<div class="ghost-lista">
  <div class="ghost-item">

    <div class="ghost-card">
      <h3>Ghost Hydration Drink Sour Patch Kids 500ml</h3> 
        <img src="./assets/ghost/Ghost Hydration Drink Sour Patch Kids 500ml.jpg" alt="Ghost Hydration Drink Sour Patch Kids 500ml" class="uditok-kep">
        <p>A Ghost Hydration Drink Sour Patch Kids egy egyedi, savanyú cukorkák által inspirált üdítőital, amely ötvözi a Sour Patch Kids cukorkák jellegzetes savanyú-édes ízprofilját egy frissítő és hidratáló formulával.</p> 
        <p class="ar">Ár: 2990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="ghost-card">
        <h3>Ghost Hydration Drink Orange Squeeze 500ml</h3> 
        <img src="./assets/ghost/Ghost Hydration Drink Orange Squeeze 500ml.jpg" alt="Ghost Hydration Drink Orange Squeeze 500ml" class="uditok-kep">
        <p>Frissítő, lédús narancsos íz enyhe savanykás utóízzel.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="ghost-card">
        <h3>Ghost Hydration Drink Kiwi Strawberry 500ml</h3> 
        <img src="./assets/ghost/Ghost Hydration Drink Kiwi Strawberry 500ml.jpg" alt="Ghost Hydration Drink Kiwi Strawberry 500ml" class="uditok-kep">
        <p>Intenzív, édes-savanykás eper íz autentikus kivi aromával kiegészítve.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="ghost-card">
        <h3>Ghost Hydration Drink Lemon Lime 500ml</h3> 
        <img src="./assets/ghost/Ghost Hydration Drink Lemon Lime 500ml.jpg" alt="Ghost Hydration Drink Lemon Lime 500ml" class="uditok-kep">
        <p>Kiegyensúlyozott, üdítő citrom-lime ízkombináció kellemes savanyú beütéssel.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="ghost-card">
        <h3>Ghost Hydration Drink Blue Raspberry 500ml</h3> 
        <img src="./assets/ghost/Ghost Hydration Drink Blue Raspberry 500ml.jpg" alt="Ghost Hydration Drink Blue Raspberry 500ml" class="uditok-kep">
        <p>Édes-savanyú kék málna íz, amely a népszerű cukorkát idézi.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="ghost-card">
        <h3>Ghost Hydration Drink Lemon Crush 500ml</h3> 
        <img src="./assets/ghost/Ghost Hydration Drink Lemon Crush 500ml.jpg" alt="Ghost Hydration Drink Lemon Crush 500ml" class="uditok-kep">
        <p>Intenzív citromos íz narancs aromával kiegészítve, frissítő citrusos élményt nyújtva.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="ghost-card">
        <h3>Ghost Hydration Drink Tropical Mango 500ml</h3> 
        <img src="./assets/ghost/Ghost Hydration Drink Tropical Mango 500ml.jpg" alt="Ghost Hydration Drink Tropical Mango 500ml" class="uditok-kep">
        <p>Édeskés mangó íz enyhe ananász és narancs aromával, trópusi hangulatot idézve.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="ghost-card">
        <h3>Ghost Hydration Drink Cherry Limeade 500ml</h3> 
        <img src="./assets/ghost/Ghost Hydration Drink Cherry Limeade 500ml.jpg" alt="Ghost Hydration Drink Cherry Limeade 500ml" class="uditok-kep">
        <p>Erőteljes cseresznye íz frissítő lime utóízzel, tökéletes egyensúlyban.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="ghost-card">
        <h3>Ghost Hydration Drink Citrus 500ml</h3> 
        <img src="./assets/ghost/Ghost Hydration Drink Citrus 500ml.jpg" alt="Ghost Hydration Drink Citrus 500ml" class="uditok-kep">
        <p>Frissítő, kiegyensúlyozott citrusfélék keveréke, amely több citrusgyümölcs ízét ötvözi.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="ghost-card">
        <h3>Ghost Hydration Drink Orange Cream 500ml</h3> 
        <img src="./assets/ghost/Ghost Hydration Drink Orange Cream 500ml.jpg" alt="Ghost Hydration Drink Orange Cream 500ml" class="uditok-kep">
        <p>Krémes, édes narancsos íz vaníliás beütéssel, amely a klasszikus narancskrémes fagylaltra emlékeztet.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="ghost-card">
        <h3>Ghost Hydration Drink Sour Pink Lemonade 500ml</h3> 
        <img src="./assets/ghost/Ghost Hydration Drink Sour Pink Lemonade 500ml.jpg" alt="Ghost Hydration Drink Sour Pink Lemonade 500ml" class="uditok-kep">
        <p>Savanykás rózsaszín limonádé íz, frissítő citrusos aromával.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="ghost-card">
        <h3>Ghost Energy Drink, Warheads Sour Watermelon 500ml</h3> 
        <img src="./assets/ghost/Ghost Energy Drink, Warheads Sour Watermelon 500ml.jpg" alt="Ghost Energy Drink, Warheads Sour Watermelon 500ml" class="uditok-kep">
        <p>Intenzív, savanyú görögdinnye ízű energiaital, amely a népszerű Warheads cukorka jellegzetes, csípős-savanyú aromáját idézi, frissítő és energizáló élményt nyújtva.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
  </div>
</div>
