
<div class="chipsek-lista">
  <div class="chips-item">

    <div class="chips-card">
      <h3>Cheetos Japan Steak Flavor Chips 90g</h3> 
        <img src="./assets/chipsImg/Cheetos Japan Steak Flavor Chips 90g.jpg" alt="Cheetos Japan Steak Flavor Chips 90g" class="chips-kep">
        <p>A Cheetos Japan Steak Flavor Chips egy különleges, japán steak ízvilágát idéző kukoricás snack, amely a hagyományos japán marhahús zamatos, fűszeres ízét kombinálja a Cheetos jellegzetes ropogós textúrájával.</p> 
        <p class="ar">Ár: 1690 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
        <!-- (click)="addToCart(2,'Product2', 5000)" -->

    </div>

    <div class="chips-card">
      <h3>Pringles Texas BBQ Sauce 165g</h3> 
        <img src="./assets/chipsImg/Pringles Texas BBQ Sauce 165g.jpg" alt="Pringles Texas BBQ Sauce 165g" class="chips-kep">
        <p>A Pringles Texas BBQ Sauce egy csípős paradicsomszósz, fűszerek és füstös barbecue íz kombinációját kínáló chips, amely merész és intenzív ízélményt nyújt a klasszikus Pringles chipsek ropogós textúrájával.</p> 
        <p class="ar">Ár: 1049 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>
   
    <div class="chips-card">
      <h3>Pringles Paprika 130g</h3> 
        <img src="./assets/chipsImg/Pringles Paprika 130g.jpg" alt="Pringles Paprika 130g" class="chips-kep">
        <p>A Pringles Paprika egy pikáns-édeskés, füstös paprika ízű chips, amely ropogós állagával és intenzív fűszerezésével kínál egy karakteres snack élményt, amelyben az édes és paprikás jegyek harmonikusan keverednek.</p> 
        <p class="ar">Ár: 1049 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="chips-card">
      <h3>Pringles Original 165g</h3> 
        <img src="./assets/chipsImg/Pringles Original 165g.jpg" alt="Pringles Original 165g" class="chips-kep">
        <p>Klasszikus, semleges ízű Pringles, amely az alapvető snackélményt nyújtja.</p> 
        <p class="ar">Ár: 1699 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="chips-card">
      <h3>Pringles Sour Cream & Onion 165g</h3> 
        <img src="./assets/chipsImg/Pringles Sour Cream & Onion 165g.jpg" alt="Pringles Sour Cream & Onion 165g" class="chips-kep">
        <p>Észbontóan hagymás-tejfölös ízvilág, amely a Pringles egyik legnépszerűbb ízesítése.</p> 
        <p class="ar">Ár: 1699 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="chips-card">
        <h3>Pringles Hot & Spicy 165g</h3> 
          <img src="./assets/chipsImg/Pringles Hot & Spicy 165g.jpg" alt="Pringles Hot & Spicy 165g" class="chips-kep">
          <p>Csípős, fűszeres íz, amely azoknak való, akik szeretik a tüzes snackeket.</p> 
          <p class="ar">Ár: 1699 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
    <div class="chips-card">
      <h3>Pringles Ranch 165g</h3> 
        <img src="./assets/chipsImg/Pringles Ranch 165g.jpg" alt="Pringles Ranch 165g" class="chips-kep">
        <p>Krémes, sajtos ízű Pringles, amely a klasszikus ranch mártást idézi.</p> 
        <p class="ar">Ár: 1699 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="chips-card">
      <h3>Pringles Jalapeño 165g</h3> 
        <img src="./assets/chipsImg/Pringles Jalapeño 165g.jpg" alt="Pringles Jalapeño 165g" class="chips-kep">
        <p>Csípős jalapeño ízű Pringles, amely azoknak való, akik szeretik a fűszeres snackeket.</p> 
        <p class="ar">Ár: 1699 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="chips-card">
      <h3>Pringles Pizza 165g</h3> 
        <img src="./assets/chipsImg/Pringles Pizza 165g.jpg" alt="Pringles Pizza 165g" class="chips-kep">
        <p>Olasz ízvilágot idéző Pringles, amely a pizza klasszikus ízeit ötvözi.</p> 
        <p class="ar">Ár: 1699 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="chips-card">
      <h3>Pringles Cheddar Cheese 165g</h3> 
        <img src="./assets/chipsImg/Pringles Cheddar Cheese 165g.jpg" alt="Pringles Cheddar Cheese 165g" class="chips-kep">
        <p>Intenzív sajtos ízű Pringles, amely a cheddar sajt rajongóinak való.</p> 
        <p class="ar">Ár: 1699 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="chips-card">
      <h3>Pringles Scorchin' Sour Cream & Onion 165g</h3> 
        <img src="./assets/chipsImg/Pringles Scorchin' Sour Cream & Onion 165g.jpg" alt="Pringles Scorchin' Sour Cream & Onion 165g" class="chips-kep">
        <p>A klasszikus Sour Cream & Onion íz csípősebb változata.</p> 
        <p class="ar">Ár: 1699 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="chips-card">
      <h3>Pringles Loaded Potato Skins 165g</h3> 
        <img src="./assets/chipsImg/Pringles Loaded Potato Skins 165g.jpg" alt="Pringles Loaded Potato Skins 165g" class="chips-kep">
        <p>Új, limitált kiadású íz, amely a töltött krumplihéj ízeit idézi, sajttal, vajjal és szalonnás aromával.</p> 
        <p class="ar">Ár: 1699 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>

    <div class="chips-card">
      <h3>Chazz Flaming Ghost Potato Chips 50g</h3> 
        <img src="./assets/chipsImg/Chazz Flaming Ghost Potato Chips 50g.jpg" alt="Chazz Flaming Ghost Potato Chips 50g" class="chips-kep">
        <p>A Chazz Flaming Ghost Potato Chips egy rendkívül csípős burgonyachips, amely 0,8% Naga Jolokia és Scotch Bonnet paprikát tartalmaz, intenzív fűszerezéssel és olyan erős hőhatással, amely váratlanul \"kísért meg\" mint egy szellem.</p> 
        <p class="ar">Ár: 990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Hot Chip Challenge Purple Edition 2,5g</h3> 
        <img src="./assets/chipsImg/Hot Chip Challenge Purple Edition 2,5g.jpg" alt="Hot Chip Challenge Purple Edition 2,5g" class="chips-kep">
        <p>A Hot Chip Challenge Purple Edition egy extrém csípős kukoricachips, amely a világ legerősebb paprikáinak (Carolina Reaper, Trinidad Moruga Scorpion, Naga Bhut Jolokia) keverékével készül, amely 2 200 000 Scoville-egységnyi intenzív, égető csípősséget biztosít egyetlen falatban.</p> 
        <p class="ar">Ár: 3690 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="chips-card">
      <h3>Takis Blue Heat Spicy Mexican Chips 92g</h3> 
        <img src="./assets/chipsImg/Takis Blue Heat Spicy Mexican Chips 92g.jpeg" alt="Takis Blue Heat Spicy Mexican Chips 92g" class="chips-kep">
        <p>A Takis Blue Heat egy rendkívül csípős mexikói chips, amely vibráns kék színben és intenzív, pikáns fűszerezésben tündököl, lime és chili paprika keverékével kínálva egy merész és tűzforró ízélményt.</p> 
        <p class="ar">Ár: 1990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="chips-card">
      <h3>Takis Guacamole Mexico 70g</h3> 
        <img src="./assets/chipsImg/Takis Guacamole Mexico 70g.jpg" alt="Takis Guacamole Mexico 70g" class="chips-kep">
        <p>A Takis Guacamole Mexico egy csípős, guacamole ízesítésű kukoricás tortilla chips, amely valódi avokádó és fűszerkeverék felhasználásával készül, intenzív mexikói ízvilágot és enyhe csípősséget kínálva.</p> 
        <p class="ar">Ár: 1390 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Takis Queso Volcano Chips 90g</h3> 
        <img src="./assets/chipsImg/Takis Queso Volcano Chips 90g.jpg" alt="Takis Queso Volcano Chips 90g" class="chips-kep">
        <p>A Takis Queso Volcano Chips egy intenzív, csípős sajtos tortilla chips, amely a sajt és chili fűszerek tűzforró kombinációját kínálja, vulkanikus ízvilágot teremtve egyetlen harapásban.</p> 
        <p class="ar">Ár: 1690 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Takis Fuego Hot Chips 90g</h3> 
        <img src="./assets/chipsImg/Takis Fuego Hot Chips 90g.jpg" alt="Takis Fuego Hot Chips 90g" class="chips-kep">
        <p>A Takis Fuego Hot Chips egy rendkívül csípős mexikói tortilla chips, amely a chili és lime tűzforró kombinációjával kínál intenzív, pikáns ízélményt, csavart taco formában, a mexikói konyha szenvedélyes karakterét idézve.</p> 
        <p class="ar">Ár: 1690 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Takis Nitro 113g</h3> 
        <img src="./assets/chipsImg/Takis Nitro 113g.jpg" alt="Takis Nitro 113g" class="chips-kep">
        <p>Intenzív habanero chili ízesítésű tekercs, fekete-piros csomagolásban, enyhén füstös aromával.</p> 
        <p class="ar">Ár: 1990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Takis Crunchy Fajita 92g</h3> 
        <img src="./assets/chipsImg/Takis Crunchy Fajita 92g.jpg" alt="Takis Crunchy Fajita 92g" class="chips-kep">
        <p>Taco fűszerezésre emlékeztető ízvilágú tekercs, köménymagos aromával és enyhe savanyú utóízzel.</p> 
        <p class="ar">Ár: 2363 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Takis Dragon Sweet Chili 90g</h3> 
        <img src="./assets/chipsImg/Takis Dragon Sweet Chili 90g.jpg" alt="Takis Dragon Sweet Chili 90g" class="chips-kep">
        <p>Édes-csípős ízesítésű tekercs, amely a Sweet Chili Doritos rajongóinak is ízleni fog.</p> 
        <p class="ar">Ár: 1990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Takis Intense Nacho 92g</h3> 
        <img src="./assets/chipsImg/Takis Intense Nacho 92g.jpg" alt="Takis Intense Nacho 92g" class="chips-kep">
        <p>Sajtos ízesítésű, nem csípős változat, amely a klasszikus nachos ízét idézi.</p> 
        <p class="ar">Ár: 2190 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Takis Zombie 92g</h3> 
        <img src="./assets/chipsImg/Takis Zombie 92g.jpg" alt="Takis Zombie 92g" class="chips-kep">
        <p>Habanero és uborka ízesítésű tekercs, fekete-zöld csomagolásban.</p> 
        <p class="ar">Ár: 1990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Takis Waves Fuego 190g</h3> 
        <img src="./assets/chipsImg/Takis Waves Fuego 190g.jpg" alt="Takis Waves Fuego 190g" class="chips-kep">
        <p>Hullámos burgonyachips változat a klasszikus Fuego ízesítéssel.</p> 
        <p class="ar">Ár: 1473 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Takis Hot Nuts Fuego 90g</h3> 
        <img src="./assets/chipsImg/Takis Hot Nuts Fuego 90g.jpg" alt="Takis Hot Nuts Fuego 90g" class="chips-kep">
        <p>Ropogós kukoricabevonattal ellátott földimogyoró, a Fuego ízesítéssel.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Takis Stix Fuego 280g</h3> 
        <img src="./assets/chipsImg/Takis Stix Fuego 280g.jpg" alt="Takis Stix Fuego 280g" class="chips-kep">
        <p>Vékony kukorica rudacskák a klasszikus Fuego ízesítéssel, intenzívebb chili és lime aromával.</p> 
        <p class="ar">Ár: 1513 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Cheetos Crunchy Cheddar Jalapeño Chips 226g</h3> 
        <img src="./assets/chipsImg/Cheetos Crunchy Cheddar Jalapeño Chips 226g.jpg" alt="Cheetos Crunchy Cheddar Jalapeño Chips 226g" class="chips-kep">
        <p>Tökéletes egyensúly a sajtos és csípős ízek között, intenzív jalapeño aromával.</p> 
        <p class="ar">Ár: 1990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Cheetos Flamin' Hot Crunchy 226g</h3> 
        <img src="./assets/chipsImg/Cheetos Flamin' Hot Crunchy 226g.jpg" alt="Cheetos Flamin' Hot Crunchy 226g" class="chips-kep">
        <p>Ikonikus csípős íz, amely rendkívül népszerű a rajongók körében.</p> 
        <p class="ar">Ár: 3490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Cheetos Puffs 226g</h3> 
        <img src="./assets/chipsImg/Cheetos Puffs 226g.jpg" alt="Cheetos Puffs 226g" class="chips-kep">
        <p>Klasszikus sajtos íz könnyű, levegős textúrával, amely sokak gyerekkori kedvence.</p> 
        <p class="ar">Ár: 3990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Cheetos Flamin' Hot Puffs 226g</h3> 
        <img src="./assets/chipsImg/Cheetos Flamin' Hot Puffs 226g.jpg" alt="Cheetos Flamin' Hot Puffs 226g" class="chips-kep">
        <p>A népszerű csípős íz puffasztott változata, amely még intenzívebb ízélményt nyújt.</p> 
        <p class="ar">Ár: 3490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Cheetos Popcorn Cheddar 17g</h3> 
        <img src="./assets/chipsImg/Cheetos Popcorn Cheddar 17g.jpg" alt="Cheetos Popcorn Cheddar 17g" class="chips-kep">
        <p>Sajtos ízesítésű pattogatott kukorica, amely ötvözi a Cheetos és a popcorn legjobb tulajdonságait.</p> 
        <p class="ar">Ár: 3090 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Cheetos Simply Puffs White Cheddar 70g</h3> 
        <img src="./assets/chipsImg/Cheetos Simply Puffs White Cheddar 70g.jpg" alt="Cheetos Simply Puffs White Cheddar 70g" class="chips-kep">
        <p>Fehér cheddar sajttal ízesített puffasztott kukoricasnack.</p> 
        <p class="ar">Ár: 4090 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Cheetos Fantastix Chili Cheese 28g</h3> 
        <img src="./assets/chipsImg/Cheetos Fantastix Chili Cheese 28g.jpg" alt="Cheetos Fantastix Chili Cheese 28g" class="chips-kep">
        <p>Vékony, pálcika alakú snack intenzív sajtízzel.</p> 
        <p class="ar">Ár: 3250 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Cheetos Big Chipito Sweet Chilli flavour 100g</h3> 
        <img src="./assets/chipsImg/Cheetos Big Chipito Sweet Chilli flavour 100g.jpg" alt="Cheetos Big Chipito Sweet Chilli flavour 100g" class="chips-kep">
        <p>Nagyobb méretű, ropogós kukoricachips édes-csípős chili ízesítéssel.</p> 
        <p class="ar">Ár: 990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Cheetos Crunchetos Sweet Chili flavour 110g</h3> 
        <img src="./assets/chipsImg/Cheetos Crunchetos Sweet Chili flavour 110g.jpg" alt="Cheetos Crunchetos Sweet Chili flavour 110g" class="chips-kep">
        <p>Ropogós kukoricachips édes-csípős chili aromával, intenzív ízélményt nyújtva.</p> 
        <p class="ar">Ár: 240 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Cheetos Crunchy Xxtra Flamin Hot' Cheese Flavored 240g</h3> 
        <img src="./assets/chipsImg/Cheetos Crunchy Xxtra Flamin Hot' Cheese Flavored 240g.jpg" alt="Cheetos Crunchy Xxtra Flamin Hot' Cheese Flavored 240g" class="chips-kep">
        <p>Még csípősebb változata a klasszikus Flamin' Hot íznek.</p> 
        <p class="ar">Ár: 7380 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Cheetos Beef and Onions Flavor 40g</h3> 
        <img src="./assets/chipsImg/Cheetos Beef and Onions Flavor 40g.jpg" alt="Cheetos Beef and Onions Flavor 40g" class="chips-kep">
        <p>Ropogós kukoricasnack intenzív marhahús és hagyma ízesítéssel, kisebb kiszerelésben.</p> 
        <p class="ar">Ár: 2330 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="chips-card">
      <h3>Cheetos Big Chipito Sweet Chilli flavour 100g</h3> 
        <img src="./assets/chipsImg/Cheetos Big Chipito Sweet Chilli flavour 100g.jpg" alt="Cheetos Big Chipito Sweet Chilli flavour 100g" class="chips-kep">
        <p>Nagyobb méretű, ropogós kukoricachips édes-csípős chili ízesítéssel.</p> 
        <p class="ar">Ár: 990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>
  
  </div>
</div>
