
<div class="nerds-lista">
  <div class="nerds-item">

    <div class="nerds-card">
        <h3>Nerds Gummy Clusters Very Berry 142g</h3> 
          <img src="./assets/nerds/Nerds Gummy Clusters Very Berry 142g.jpg" alt="Nerds Gummy Clusters Very Berry 142g" class="gumicukor-kep">
          <p>A Nerds Gummy Clusters Very Berry egy egyedi textúrájú cukorka, amely bogyós gyümölcsök intenzív ízvilágát kínálja, apró NERDS cukorkákkal kombinálva, így biztosítva egy roppanós és gyümölcsös édességélményt.</p> 
          <p class="ar">Ár: 2190 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="nerds-card">
        <h3>Nerds Gummy Clusters 141g</h3> 
          <img src="./assets/nerds/Nerds Gummy Clusters 141g.jpg" alt="Nerds Gummy Clusters 141g" class="gumicukor-kep">
          <p>A Nerds Gummy Clusters egy egyedi textúrájú cukorka, amely Rainbow ízben készül, ahol a külső ropogós NERDS cukorkák egy puha gumicukor magot borítanak, kínálva egy intenzív, gyümölcsös ízvilágot szőlő, cseresznye és narancs aromákkal.</p> 
          <p class="ar">Ár: 1990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="nerds-card">
        <h3>Nerds Gummy Clusters Theater Box 85g</h3> 
          <img src="./assets/nerds/Nerds Gummy Clusters Theater Box 85g.jpg" alt="Nerds Gummy Clusters Theater Box 85g" class="gumicukor-kep">
          <p>A Nerds Gummy Clusters Theater Box egy egyedi textúrájú cukorka, amely Rainbow ízben készül, ahol a külső ropogós NERDS cukorkák egy puha gumicukor magot borítanak, kínálva egy intenzív, gyümölcsös ízvilágot szőlő, cseresznye és narancs aromákkal.</p> 
          <p class="ar">Ár: 1490 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="nerds-card">
        <h3>Nerds Candy Grape and Strawberry 142g</h3> 
          <img src="./assets/nerds/Nerds Candy Grape and Strawberry 142g.jpg" alt="Nerds Candy Grape and Strawberry 142g" class="gumicukor-kep">
          <p>A Nerds Candy Grape and Strawberry egy klasszikus, két külön rekeszben kínált cukorka, amely az intenzív, édeskés szőlő és a friss, gyümölcsös eper ízét kombinálja apró, ropogós cukorkaszemekben.</p> 
          <p class="ar">Ár: 1490 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="nerds-card">
        <h3>Nerds Gummy Clusters Very Berry Share Pouch 85g</h3> 
          <img src="./assets/nerds/Nerds Gummy Clusters Very Berry Share Pouch 85g.jpg" alt="Nerds Gummy Clusters Very Berry Share Pouch 85g" class="gumicukor-kep">
          <p>A Nerds Gummy Clusters Very Berry Share Pouch egy egyedi textúrájú cukorka, amely bogyós gyümölcsök intenzív ízvilágát kínálja, ahol a puha gumicukor magot apró, ropogós NERDS cukorkák borítják, létrehozva egy komplex és élménydús édességet.</p> 
          <p class="ar">Ár: 1690 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="nerds-card">
        <h3>Nerds Big Chewy Theater Box 120g</h3> 
          <img src="./assets/nerds/Nerds Big Chewy Theater Box 120g.jpg" alt="Nerds Big Chewy Theater Box 120g" class="gumicukor-kep">
          <p>A Nerds Big Chewy Theater Box egy egyedi textúrájú cukorka, amely ropogós NERDS héjjal és puha, gyümölcsös ízű (szőlő és eper) belsővel rendelkezik, kínálva egy komplex és élménydús édességet.</p> 
          <p class="ar">Ár: 1430 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="nerds-card">
        <h3>Nerds Frosty Fruit Candy 141g</h3> 
          <img src="./assets/nerds/Nerds Frosty Fruit Candy 141g.jpg" alt="Nerds Frosty Fruit Candy 141g" class="gumicukor-kep">
          <p>A Nerds Frosty Fruit Candy egy karácsonyi különkiadású cukorka, amely görögdinnye, vadcseresznye és puncs ízeket tartalmaz, apró, ropogós cukorkaszemekben, amelyek élénk színekkel és intenzív gyümölcsös ízvilággal kínálnak ünnepi édességélményt.</p> 
          <p class="ar">Ár: 1690 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="nerds-card">
        <h3>Wonka Nerds Grape And Strawberry 47g</h3> 
          <img src="./assets/nerds/Wonka Nerds Grape And Strawberry 47g.jpg" alt="Wonka Nerds Grape And Strawberry 47g" class="gumicukor-kep">
          <p>A Wonka Nerds Grape And Strawberry egy klasszikus, két rekeszben kínált apró, ropogós cukorka, amely az egyik oldalon intenzív szőlő, a másikon édes eper ízű, lehetővé téve a fogyasztónak, hogy külön-külön vagy keverve élvezze a két gyümölcsös ízt.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="nerds-card">
        <h3>Nerds Fruits Candy 142g</h3> 
          <img src="./assets/nerds/Nerds Fruits Candy 142g.jpg" alt="Nerds Fruits Candy 142g" class="gumicukor-kep">
          <p>A Nerds Fruits Candy egy színes, ropogós cukorka, amely többféle gyümölcsös ízt (például eper, szőlő, cseresznye, dinnye és narancs) kínál apró, változatos formájú és méretű cukorkaszemekben, intenzív és izgalmas ízélményt nyújtva.</p> 
          <p class="ar">Ár: 1490 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="nerds-card">
        <h3>Nerds Watermelon And Cherry 47g</h3> 
          <img src="./assets/nerds/Nerds Watermelon And Cherry 47g.jpg" alt="Nerds Watermelon And Cherry 47g" class="gumicukor-kep">
          <p>A Nerds Watermelon And Cherry egy kétrekeszes, ropogós cukorka, amely az egyik oldalon friss, nyári görögdinnye, a másikon pedig édes és intenzív cseresznye ízű apró cukorkaszemeket kínál, lehetővé téve a fogyasztónak, hogy külön-külön vagy keverve élvezze a két gyümölcsös ízt.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="nerds-card">
        <h3>Wonka Nerds Rope Rainbow Candy 26g</h3> 
          <img src="./assets/nerds/Wonka Nerds Rope Rainbow Candy 26g.jpg" alt="Wonka Nerds Rope Rainbow Candy 26g" class="gumicukor-kep">
          <p>A Wonka Nerds Rope Rainbow Candy egy színes, gumicukor alapú édesség, amelyet különböző ízű (szőlő, eper, citrom, narancs és egyéb gyümölcsös) apró, ropogós Nerds cukorkák borítanak, így kínálva egy komplex, többrétegű ízélményt.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>

  </div>
</div>


