
<div class="nerds-lista">
    <div class="nerds-item">
      <div class="nerds-card">
  
        <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/TKZombie.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/TKWaves.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/TKNitro.jpg" alt="termék 1" class="nerds-kep">
        
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/TKFajita.jpg" alt="termék 1" class="nerds-kep">
       
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="nerds-card">
        <h3>Termék 1</h3> 
          <img src="./assets/nerdsImg/TKChili.jpg" alt="termék 1" class="nerds-kep">
          <p>Leírás 1</p> 
          <p class="ar">Ár: 1500 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/TKCheese.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/Steak.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/Puff.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/PrPap.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/PrBBQ.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/HotPf.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/HotCr.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/HotCheese.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/Chipito.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/HotCheese.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/ChiliCheese.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/Chili.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/Chedarpop.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/ChedarPf.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/Chedar.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="nerds-card">
      <h3>Termék 1</h3> 
        <img src="./assets/nerdsImg/Beef.jpg" alt="termék 1" class="nerds-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      
    
    </div>
  </div>
  

