<div class="prime-lista">
    <div class="prime-item">
      <div class="prime-card">
  
        <h3>Termék 1</h3> 
        <img src="./assets/primeImg/TKZombie.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/TKWaves.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/TKNitro.jpg" alt="termék 1" class="prime-kep">
        
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/TKFajita.jpg" alt="termék 1" class="prime-kep">
       
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="prime-card">
        <h3>Termék 1</h3> 
          <img src="./assets/primeImg/TKChili.jpg" alt="termék 1" class="prime-kep">
          <p>Leírás 1</p> 
          <p class="ar">Ár: 1500 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/TKCheese.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/Steak.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/Puff.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/PrPap.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/PrBBQ.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/HotPf.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/HotCr.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/HotCheese.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/Chipito.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/HotCheese.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/ChiliCheese.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/Chili.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/Chedarpop.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/ChedarPf.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/Chedar.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="prime-card">
      <h3>Termék 1</h3> 
        <img src="./assets/primeImg/Beef.jpg" alt="termék 1" class="prime-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      
    
    </div>
  </div>
  

