<div class="prime-lista">
  <div class="prime-item">

    <div class="prime-card">
      <h3>Prime Hydration Drink Glowberry 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Glowberry 500ml.jpg" alt="Prime Hydration Drink Glowberry 500ml" class="uditok-kep">
      <p>A Prime Hydration Glowberry egy alma-, lime- és kivi ízű, szénsavmentes üdítőital, amelyet édesítőszerekkel és hozzáadott vitaminokkal készítenek.</p> 
      <p class="ar">Ár: 3990 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink Strawberry Watermelon 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Strawberry Watermelon 500ml.jpg" alt="Prime Hydration Drink Strawberry Watermelon 500ml" class="uditok-kep">
      <p>A Prime Hydration Strawberry Watermelon egy üdítőital, amelyben az érett, édes eper karakteres íze harmonikusan találkozik a friss görögdinnye savanykás, felfrissítő ízével.</p> 
      <p class="ar">Ár: 1490 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>
   
    <div class="prime-card">
      <h3>Prime Hydration Drink Ice Pop 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Ice Pop 500ml.jpg" alt="Prime Hydration Drink Ice Pop 500ml" class="uditok-kep">
      <p>A Prime Hydration Ice Pop egy hűsítő, édes jégkrém ízű üdítőital, amely frissítő és gyümölcsös karakterrel rendelkezik.</p> 
      <p class="ar">Ár: 1790 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink Blue Raspberry 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Blue Raspberry 500ml.jpg" alt="Prime Hydration Drink Blue Raspberry 500ml" class="uditok-kep">
      <p>A Prime Hydration Blue Raspberry egy élénk kék színű, intenzív málna ízű üdítőital, amely tökéletes egyensúlyt teremt az édes és a savanykás ízjegyek között.</p> 
      <p class="ar">Ár: 990 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink Lemon Lime 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Lemon Lime 500ml.jpg" alt="Prime Hydration Drink Lemon Lime 500ml" class="uditok-kep">
      <p>A Prime Hydration Lemon Lime egy frissítő citrusos ital, amely tökéletes egyensúlyt teremt a citrom savanykás és a lime üdítő íze között, kellemes és élénkítő ízélményt nyújtva.</p> 
      <p class="ar">Ár: 990 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink Grape 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Grape 500ml.jpg" alt="Prime Hydration Drink Grape 500ml" class="uditok-kep">
      <p>A Prime Hydration Grape egy intenzív, édes szőlő ízű üdítőital, amely a friss szőlő zamatos és üdítő ízvilágát kínálja minden kortyban.</p> 
      <p class="ar">Ár: 990 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink UFC 300 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink UFC 300 500ml.jpg" alt="Prime Hydration Drink UFC 300 500ml" class="uditok-kep">
      <p>A Prime Hydration UFC 300 egy limitált kiadású, egyedi ízesítésű üdítőital, amely a UFC 300 esemény tiszteletére készült, és egy izgalmas, energiával teli ízkombinációt kínál.</p> 
      <p class="ar">Ár: 4990 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink Strawberry Banana 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Strawberry Banana 500ml.jpg" alt="Prime Hydration Drink Strawberry Banana 500ml" class="uditok-kep">
      <p>A Prime Hydration Strawberry Banana egy harmonikus ízélményt nyújt, amelyben az érett eper édessége tökéletesen ötvöződik a krémes banán ízével, frissítő és gyümölcsös karaktert kölcsönözve az italnak.</p> 
      <p class="ar">Ár: 4990 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink Auston Matthews 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Auston Matthews 500ml.jpg" alt="Prime Hydration Drink Auston Matthews 500ml" class="uditok-kep">
      <p>A Prime Hydration Auston Matthews egy limitált kiadású, jégkorong-inspirálta üdítőital, amely frissítő és energizáló ízkombinációt kínál, tükrözve a jégkorong sztár dinamikus játékstílusát.</p> 
      <p class="ar">Ár: 3990 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink WWE 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink WWE 500ml.jpg" alt="Prime Hydration Drink WWE 500ml" class="uditok-kep">
      <p>A Prime Hydration WWE egy különleges kiadású, pankráció-inspirálta üdítőital, amely intenzív és robbanékony ízkombinációt kínál, tükrözve a WWE látványos és energikus világát.</p> 
      <p class="ar">Ár: 3790 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink Toronto Raptors Black 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Toronto Raptors Black 500ml.jpg" alt="Prime Hydration Drink Toronto Raptors Black 500ml" class="uditok-kep">
      <p>A Prime Hydration Toronto Raptors Black egy limitált kiadású, kosárlabda-inspirálta üdítőital, amely intenzív, fekete színű megjelenésével és egyedi ízkombinációjával tiszteleg a Toronto Raptors csapata előtt.</p> 
      <p class="ar">Ár: 3990 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink Central Cee 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Central Cee 500ml.jpg" alt="Prime Hydration Drink Central Cee 500ml" class="uditok-kep">
      <p>A Prime Hydration Central Cee egy limitált kiadású, brit rapper Central Cee által inspirált üdítőital, amely egyedi és merész ízkombinációt kínál, tükrözve a művész innovatív és energikus stílusát.</p> 
      <p class="ar">Ár: 3490 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink LAKERS 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink LAKERS 500ml.jpg" alt="Prime Hydration Drink LAKERS 500ml" class="uditok-kep">
      <p>A Prime Hydration LAKERS egy limitált kiadású, kosárlabda-inspirálta üdítőital, amely a Los Angeles Lakers csapatának tiszteletére készült, és egy frissítő, lila-arany színvilágú ízkombinációt kínál.</p> 
      <p class="ar">Ár: 4590 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink Kevin Durant 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Kevin Durant 500ml.jpg" alt="Prime Hydration Drink Kevin Durant 500ml" class="uditok-kep">
      <p>A Prime Hydration Kevin Durant egy limitált kiadású, kosárlabda-sztár inspirálta üdítőital, amely dinamikus és intenzív ízkombinációt kínál, tükrözve Durant robbanékony játékstílusát a pályán.</p> 
      <p class="ar">Ár: 4590 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink Barcelona 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Barcelona 500ml.jpg" alt="Prime Hydration Drink Barcelona 500ml" class="uditok-kep">
      <p>A Prime Hydration Barcelona egy limitált kiadású, futball-inspirálta üdítőital, amely a híres katalán klub színeiben pompázik, és egy frissítő, mediterrán ízvilágot kínál, tükrözve a csapat szenvedélyes és dinamikus játékstílusát.</p> 
      <p class="ar">Ár: 3490 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="prime-card">
      <h3>Prime Hydration Drink Meta Moon 500ml</h3> 
      <img src="./assets/prime/Prime Hydration Drink Meta Moon 500ml.jpg" alt="Prime Hydration Drink Meta Moon 500ml" class="uditok-kep">
      <p>A Prime Hydration Meta Moon egy titokzatos és futurisztikus ízű üdítőital, amely egyedi, gyümölcsös jegyekkel nyújt izgalmas és frissítő élményt.</p> 
      <p class="ar">Ár: 1790 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

  </div>
</div>


