
<div class="fanta-lista">
    <div class="fanta-item">
      <div class="fanta-card">
  
        <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/TKZombie.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/TKWaves.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/TKNitro.jpg" alt="termék 1" class="fanta-kep">
        
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/TKFajita.jpg" alt="termék 1" class="fanta-kep">
       
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="fanta-card">
        <h3>Termék 1</h3> 
          <img src="./assets/fantaImg/TKChili.jpg" alt="termék 1" class="fanta-kep">
          <p>Leírás 1</p> 
          <p class="ar">Ár: 1500 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/TKCheese.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/Steak.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/Puff.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/PrPap.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/PrBBQ.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/HotPf.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/HotCr.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/HotCheese.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/Chipito.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/HotCheese.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/ChiliCheese.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/Chili.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/Chedarpop.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/ChedarPf.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/Chedar.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="fanta-card">
      <h3>Termék 1</h3> 
        <img src="./assets/fantaImg/Beef.jpg" alt="termék 1" class="fanta-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      
    
    </div>
  </div>
  
