
<div class="fanta-lista">
  <div class="fanta-item">

    <div class="fanta-card">
      <h3>Fanta Berry 355ml</h3> 
      <img src="./assets/fanta/Fanta Berry 355ml.jpg" alt="Fanta Berry 355ml" class="uditok-kep">
      <p>A Fanta Berry egy bogyós gyümölcsök ízét idéző, frissítő szénsavas üdítőital, amely az áfonya és más erdei gyümölcsök édes-savanykás ízvilágát kínálja.</p> 
      <p class="ar">Ár: 680 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="fanta-card">
      <h3>Fanta Fruit Twist 330ml</h3> 
      <img src="./assets/fanta/Fanta Fruit Twist 330ml.jpg" alt="Fanta Fruit Twist 330ml" class="uditok-kep">
      <p>A Fanta Fruit Twist egy izgalmas, többféle gyümölcs ízét ötvöző szénsavas üdítőital, amely a narancs, ananász és maracuja trópusi keverékét kínálja, frissítő és élénk ízélményt nyújtva.</p> 
      <p class="ar">Ár: 690 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="fanta-card">
      <h3>Fanta Grape 355ml</h3> 
      <img src="./assets/fanta/Fanta Grape 355ml.jpg" alt="Fanta Grape 355ml" class="uditok-kep">
      <p>A Fanta Grape egy intenzív, édes szőlő ízű szénsavas üdítőital, amely a friss szőlő zamatos és üdítő ízvilágát kínálja, jellegzetes lila színével és buborékos frissességével.</p> 
      <p class="ar">Ár: 680 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="fanta-card">
      <h3>Fanta Strawberry 350ml</h3> 
      <img src="./assets/fanta/Fanta Strawberry 350ml.jpg" alt="Fanta Strawberry 350ml" class="uditok-kep">
      <p>A Fanta Strawberry egy édes és zamatos, eper ízű szénsavas üdítőital, amely a friss, érett eprek ízvilágát idézi, üdítő buborékokkal és élénk rózsaszín színnel.</p> 
      <p class="ar">Ár: 680 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="fanta-card">
      <h3>Fanta Peach 355ml</h3> 
      <img src="./assets/fanta/Fanta Peach 355ml.jpg" alt="Fanta Peach 355ml" class="uditok-kep">
      <p>A Fanta Peach egy zamatos, őszibarack ízű szénsavas üdítőital, amely a frissen szedett, érett őszibarack édes és aromás ízvilágát kínálja, üdítő buborékokkal és kellemes narancssárga színnel.</p> 
      <p class="ar">Ár: 680 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="fanta-card">
      <h3>Fanta Strawberry Kiwi Soda 330ml</h3> 
      <img src="./assets/fanta/Fanta Strawberry Kiwi Soda 330ml.jpg" alt="Fanta Strawberry Kiwi Soda 330ml" class="uditok-kep">
      <p>A Fanta Strawberry Kiwi Soda egy frissítő szénsavas üdítőital, amely az édes eper és a savanykás kivi ízének harmonikus kombinációját kínálja, egyedi és egzotikus ízélményt nyújtva.</p> 
      <p class="ar">Ár: 480 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="fanta-card">
      <h3>Fanta Lemon Soda 330ml</h3> 
      <img src="./assets/fanta/Fanta Lemon Soda 330ml.jpg" alt="Fanta Lemon Soda 330ml" class="uditok-kep">
      <p>A Fanta Lemon Soda egy frissítő citrusos üdítőital, amely a zamatos citrom savanykás és élénkítő ízét kínálja, tökéletes egyensúlyt teremtve az édesség és a citrusos frissesség között.</p> 
      <p class="ar">Ár: 480 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="fanta-card">
      <h3>Fanta Exotic 330ml</h3> 
      <img src="./assets/fanta/Fanta Exotic 330ml.jpg" alt="Fanta Exotic 330ml" class="uditok-kep">
      <p>A Fanta Exotic egy trópusi gyümölcsök ízvilágát idéző szénsavas üdítőital, amely egzotikus gyümölcsök, mint a maracuja, guava és ananász harmonikus keverékét kínálja, egyedi és izgalmas ízélményt nyújtva.</p> 
      <p class="ar">Ár: 480 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="fanta-card">
      <h3>Fanta Pineapple Soda 355ml</h3> 
      <img src="./assets/fanta/Fanta Pineapple Soda 355ml.jpg" alt="Fanta Pineapple Soda 355ml" class="uditok-kep">
      <p>A Fanta Pineapple Soda egy trópusi hangulatot idéző szénsavas üdítőital, amely az érett, zamatos ananász édes és enyhén savanykás ízét kínálja, frissítő buborékokkal és napfényes sárga színnel.</p> 
      <p class="ar">Ár: 680 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="fanta-card">
      <h3>Fanta Lime 500ml</h3> 
      <img src="./assets/fanta/Fanta Lime 500ml.jpg" alt="Fanta Lime 500ml" class="uditok-kep">
      <p>A Fanta Lime egy frissítően citrusos, élénk lime ízű szénsavas üdítőital, amely tökéletes egyensúlyt teremt az édes és savanykás ízek között.</p> 
      <p class="ar">Ár: 1280 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="fanta-card">
      <h3>Fanta Green Apple 185ml</h3> 
      <img src="./assets/fanta/Fanta Green Apple 185ml.jpg" alt="Fanta Green Apple 185ml" class="uditok-kep">
      <p>A Fanta Green Apple egy élénk és frissítő zöldalma ízű szénsavas ital, amely édes és enyhén savanykás ízvilágával igazi üdítő élményt nyújt.</p> 
      <p class="ar">Ár: 1290 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="fanta-card">
      <h3>Chinese Fanta White Peach 330ml</h3> 
      <img src="./assets/fanta/Chinese Fanta White Peach 330ml.jpg" alt="Chinese Fanta White Peach 330ml" class="uditok-kep">
      <p>A Chinese Fanta White Peach egy üdítően édes és zamatos fehér őszibarack ízű szénsavas ital, amely frissítően gyümölcsös élményt nyújt.</p> 
      <p class="ar">Ár: 790 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>
  
  </div>
</div>

