
<div class="takis-lista">
  <div class="takis-item">

    <div class="takis-card">
      <h3>Takis Blue Heat Spicy Mexican Chips 92g</h3> 
      <img src="./assets/takis/Takis Blue Heat Spicy Mexican Chips 92g.jpeg" alt="Takis Blue Heat Spicy Mexican Chips 92g" class="chips-kep">
      <p>A Takis Blue Heat egy rendkívül csípős mexikói chips, amely vibráns kék színben és intenzív, pikáns fűszerezésben tündököl, lime és chili paprika keverékével kínálva egy merész és tűzforró ízélményt.</p> 
      <p class="ar">Ár: 1990 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
  </div>

  <div class="takis-card">
    <h3>Takis Guacamole Mexico 70g</h3> 
      <img src="./assets/takis/Takis Guacamole Mexico 70g.jpg" alt="Takis Guacamole Mexico 70g" class="chips-kep">
      <p>A Takis Guacamole Mexico egy csípős, guacamole ízesítésű kukoricás tortilla chips, amely valódi avokádó és fűszerkeverék felhasználásával készül, intenzív mexikói ízvilágot és enyhe csípősséget kínálva.</p> 
      <p class="ar">Ár: 1390 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
  </div>

  <div class="takis-card">
    <h3>Takis Queso Volcano Chips 90g</h3> 
      <img src="./assets/takis/Takis Queso Volcano Chips 90g.jpg" alt="Takis Queso Volcano Chips 90g" class="chips-kep">
      <p>A Takis Queso Volcano Chips egy intenzív, csípős sajtos tortilla chips, amely a sajt és chili fűszerek tűzforró kombinációját kínálja, vulkanikus ízvilágot teremtve egyetlen harapásban.</p> 
      <p class="ar">Ár: 1690 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
  </div>

  <div class="takis-card">
    <h3>Takis Fuego Hot Chips 90g</h3> 
      <img src="./assets/takis/Takis Fuego Hot Chips 90g.jpg" alt="Takis Fuego Hot Chips 90g" class="chips-kep">
      <p>A Takis Fuego Hot Chips egy rendkívül csípős mexikói tortilla chips, amely a chili és lime tűzforró kombinációjával kínál intenzív, pikáns ízélményt, csavart taco formában, a mexikói konyha szenvedélyes karakterét idézve.</p> 
      <p class="ar">Ár: 1690 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
  </div>

  <div class="takis-card">
    <h3>Takis Nitro 113g</h3> 
      <img src="./assets/takis/Takis Nitro 113g.jpg" alt="Takis Nitro 113g" class="chips-kep">
      <p>Intenzív habanero chili ízesítésű tekercs, fekete-piros csomagolásban, enyhén füstös aromával.</p> 
      <p class="ar">Ár: 1990 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
  </div>

  <div class="takis-card">
    <h3>Takis Crunchy Fajita 92g</h3> 
      <img src="./assets/takis/Takis Crunchy Fajita 92g.jpg" alt="Takis Crunchy Fajita 92g" class="chips-kep">
      <p>Taco fűszerezésre emlékeztető ízvilágú tekercs, köménymagos aromával és enyhe savanyú utóízzel.</p> 
      <p class="ar">Ár: 2363 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
  </div>

  <div class="takis-card">
    <h3>Takis Dragon Sweet Chili 90g</h3> 
      <img src="./assets/takis/Takis Dragon Sweet Chili 90g.jpg" alt="Takis Dragon Sweet Chili 90g" class="chips-kep">
      <p>Édes-csípős ízesítésű tekercs, amely a Sweet Chili Doritos rajongóinak is ízleni fog.</p> 
      <p class="ar">Ár: 1990 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
  </div>

  <div class="takis-card">
    <h3>Takis Intense Nacho 92g</h3> 
      <img src="./assets/takis/Takis Intense Nacho 92g.jpg" alt="Takis Intense Nacho 92g" class="chips-kep">
      <p>Sajtos ízesítésű, nem csípős változat, amely a klasszikus nachos ízét idézi.</p> 
      <p class="ar">Ár: 2190 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
  </div>

  <div class="takis-card">
    <h3>Takis Zombie 92g</h3> 
      <img src="./assets/takis/Takis Zombie 92g.jpg" alt="Takis Zombie 92g" class="chips-kep">
      <p>Habanero és uborka ízesítésű tekercs, fekete-zöld csomagolásban.</p> 
      <p class="ar">Ár: 1990 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
  </div>

  <div class="takis-card">
    <h3>Takis Waves Fuego 190g</h3> 
      <img src="./assets/takis/Takis Waves Fuego 190g.jpg" alt="Takis Waves Fuego 190g" class="chips-kep">
      <p>Hullámos burgonyachips változat a klasszikus Fuego ízesítéssel.</p> 
      <p class="ar">Ár: 1473 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
  </div>

  <div class="takis-card">
    <h3>Takis Hot Nuts Fuego 90g</h3> 
      <img src="./assets/takis/Takis Hot Nuts Fuego 90g.jpg" alt="Takis Hot Nuts Fuego 90g" class="chips-kep">
      <p>Ropogós kukoricabevonattal ellátott földimogyoró, a Fuego ízesítéssel.</p> 
      <p class="ar">Ár: 1490 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
  </div>

  <div class="takis-card">
    <h3>Takis Stix Fuego 280g</h3> 
      <img src="./assets/takis/Takis Stix Fuego 280g.jpg" alt="Takis Stix Fuego 280g" class="chips-kep">
      <p>Vékony kukorica rudacskák a klasszikus Fuego ízesítéssel, intenzívebb chili és lime aromával.</p> 
      <p class="ar">Ár: 1513 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
  </div>
    
  </div>
</div>

