
<div class="takis-lista">
    <div class="takis-item">
      <div class="takis-card">
  
        <h3>Termék 1</h3> 
        <img src="./assets/takisImg/TKZombie.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/TKWaves.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/TKNitro.jpg" alt="termék 1" class="takis-kep">
        
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/TKFajita.jpg" alt="termék 1" class="takis-kep">
       
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="takis-card">
        <h3>Termék 1</h3> 
          <img src="./assets/takisImg/TKChili.jpg" alt="termék 1" class="takis-kep">
          <p>Leírás 1</p> 
          <p class="ar">Ár: 1500 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/TKCheese.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/Steak.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/Puff.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/PrPap.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/PrBBQ.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/HotPf.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/HotCr.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/HotCheese.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/Chipito.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/HotCheese.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/ChiliCheese.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/Chili.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/Chedarpop.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/ChedarPf.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/Chedar.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="takis-card">
      <h3>Termék 1</h3> 
        <img src="./assets/takisImg/Beef.jpg" alt="termék 1" class="takis-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      
    
    </div>
  </div>
  
