
<div class="cheetos-lista">
    <div class="cheetos-item">
      <div class="cheetos-card">
  
        <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/TKZombie.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/TKWaves.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/TKNitro.jpg" alt="termék 1" class="cheetos-kep">
        
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/TKFajita.jpg" alt="termék 1" class="cheetos-kep">
       
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="cheetos-card">
        <h3>Termék 1</h3> 
          <img src="./assets/cheetosImg/TKChili.jpg" alt="termék 1" class="cheetos-kep">
          <p>Leírás 1</p> 
          <p class="ar">Ár: 1500 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/TKCheese.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/Steak.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/Puff.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/PrPap.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/PrBBQ.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/HotPf.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/HotCr.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/HotCheese.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/Chipito.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/HotCheese.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/ChiliCheese.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/Chili.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/Chedarpop.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/ChedarPf.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/Chedar.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="cheetos-card">
      <h3>Termék 1</h3> 
        <img src="./assets/cheetosImg/Beef.jpg" alt="termék 1" class="cheetos-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      
    
    </div>
  </div>
  