
<div class="bazooka-lista">
    <div class="bazooka-item">
      <div class="bazooka-card">
  
        <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/TKZombie.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/TKWaves.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/TKNitro.jpg" alt="termék 1" class="bazooka-kep">
        
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/TKFajita.jpg" alt="termék 1" class="bazooka-kep">
       
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="bazooka-card">
        <h3>Termék 1</h3> 
          <img src="./assets/bazookaImg/TKChili.jpg" alt="termék 1" class="bazooka-kep">
          <p>Leírás 1</p> 
          <p class="ar">Ár: 1500 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/TKCheese.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/Steak.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/Puff.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/PrPap.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/PrBBQ.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/HotPf.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/HotCr.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/HotCheese.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/Chipito.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/HotCheese.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/ChiliCheese.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/Chili.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/Chedarpop.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/ChedarPf.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/Chedar.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="bazooka-card">
      <h3>Termék 1</h3> 
        <img src="./assets/bazookaImg/Beef.jpg" alt="termék 1" class="bazooka-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      
    
    </div>
  </div>
  
