
<div class="arizona-lista">
  <div class="arizona-item">
  
      <div class="arizona-card">
        <h3>Arizona Marvel LXR Hero Hydration Lemon Lime 473ml</h3> 
          <img src="./assets/arizona/Arizona Marvel LXR Hero Hydration Lemon Lime 473ml.jpg" alt="Arizona Marvel LXR Hero Hydration Lemon Lime 473ml" class="uditok-kep">
          <p>Az Arizona Marvel LXR Hero Hydration Lemon Lime egy frissítő, szuperhős-inspirálta üdítőital, amely a citrom és lime élénk, citrusos ízét kombinálja egy alacsony cukortartalmú, elektrolitokban és vitaminokban gazdag formulával.</p> 
          <p class="ar">Ár: 2200 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
      <div class="arizona-card">
        <h3>Arizona Marvel LXR Hero Hydration Peach Mango 473ml</h3> 
          <img src="./assets/uditokImg/Arizona Marvel LXR Hero Hydration Peach Mango 473ml.jpg" alt="Arizona Marvel LXR Hero Hydration Peach Mango 473ml" class="uditok-kep">
          <p>Az Arizona Marvel LXR Hero Hydration Peach Mango egy szuperhős-inspirálta üdítőital, amely a zamatos őszibarack és az egzotikus mangó édes ízeinek harmonikus keverékét kínálja, elektrolitokkal és vitaminokkal dúsítva.</p> 
          <p class="ar">Ár: 2200 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
     
      <div class="arizona-card">
          <h3>Arizona Cherry Lime Rickey 650ml</h3> 
            <img src="./assets/arizona/Arizona Cherry Lime Rickey 650ml.jpg" alt="Arizona Cherry Lime Rickey 650ml" class="uditok-kep">
            <p>Az Arizona Cherry Lime Rickey egy frissítő, enyhén savanykás cseresznye és lime ízű üdítőital, amely tökéletesen kiegyensúlyozza az édes és citrusos ízeket egy élénk és ínycsiklandó italban.</p> 
            <p class="ar">Ár: 990 Ft</p> 
            <div class="mennyiseg">
              Mennyiség:<input type="number" value="1">
            </div>
            <button class="kosar-gomb">Kosárba rakom</button>
          </div>
  
      <div class="arizona-card">
        <h3>Arizona Frost Chillzicle 650ml</h3> 
          <img src="./assets/arizona/Arizona Frost Chillzicle 650ml.jpg" alt="Arizona Frost Chillzicle 650ml" class="uditok-kep">
          <p>Az Arizona Frost Chillzicle egy hűsítő és frissítő üdítő, amely az élénk gyümölcsízeket és a jeges frissességet ötvözi, tökéletes választás a forró napokra.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
      <div class="arizona-card">
        <h3>Arizona Green Tea with Ginseng and Honey 650ml</h3> 
          <img src="./assets/arizona/Arizona Green Tea with Ginseng and Honey 650ml.jpg" alt="Arizona Green Tea with Ginseng and Honey 650ml" class="arizona-kep">
          <p>Klasszikus zöld tea méz és ginzeng ízesítéssel, amely az Arizona legismertebb és legnépszerűbb terméke.</p> 
          <p class="ar">Ár: 990 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
      <div class="arizona-card">
        <h3>Arizona Arnold Palmer Half & Half Iced Tea Lemonade 650ml</h3> 
          <img src="./assets/arizona/Arizona Arnold Palmer Half & Half Iced Tea Lemonade 650ml.jpg" alt="Arizona Arnold Palmer Half & Half Iced Tea Lemonade 650ml" class="arizona-kep">
          <p>Fekete tea és limonádé keveréke, amely Arnold Palmer golfozó nevét viseli.</p> 
          <p class="ar">Ár: 990 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
      <div class="arizona-card">
        <h3>Arizona Mucho Mango 650ml</h3> 
          <img src="./assets/arizona/Arizona Mucho Mango 650ml.jpg" alt="Arizona Mucho Mango 650ml" class="arizona-kep">
          <p>Intenzív mangó ízű gyümölcsital.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
        </div>
  
      <div class="arizona-card">
        <h3>Arizona Watermelon 650ml</h3> 
          <img src="./assets/arizona/Arizona Watermelon 650ml.jpg" alt="Arizona Watermelon 650ml" class="arizona-kep">
          <p>Frissítő görögdinnye ízű ital.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
        </div>
    
      <div class="arizona-card">
        <h3>Arizona Fruit Punch 650ml</h3> 
          <img src="./assets/arizona/Arizona Fruit Punch 650ml.jpg" alt="Arizona Fruit Punch 650ml" class="arizona-kep">
          <p>Többféle gyümölcs ízét ötvöző üdítőital.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
        </div>
    
      <div class="arizona-card">
        <h3>Arizona Blueberry White Tea 500ml</h3> 
          <img src="./assets/arizona/Arizona Blueberry White Tea 500ml.jpg" alt="Arizona Blueberry White Tea 500ml" class="arizona-kep">
          <p>Áfonyás fehér tea, amely kellemes gyümölcsös ízt kínál.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
        </div>
    
      <div class="arizona-card">
        <h3>Arizona Pomegranate Green Tea 500ml</h3> 
          <img src="./assets/arizona/Arizona Pomegranate Green Tea 500ml.jpg" alt="Arizona Pomegranate Green Tea 500ml" class="arizona-kep">
          <p>Gránátalmás zöld tea, amely ötvözi a zöld tea és a gránátalma jótékony hatásait.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
        </div>
    
      <div class="arizona-card">
        <h3>Arizona Cowboy Cocktail Kiwi Strawberry 500ml</h3> 
          <img src="./assets/arizona/Arizona Cowboy Cocktail Kiwi Strawberry 500ml.jpg" alt="Arizona Cowboy Cocktail Kiwi Strawberry 500ml" class="arizona-kep">
          <p>Kivi és eper ízesítésű gyümölcskoktél.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
        </div>
    
    </div>
  </div>
  