
<div class="arizona-lista">
    <div class="arizona-item">
      <div class="arizona-card">
  
        <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/TKZombie.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/TKWaves.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/TKNitro.jpg" alt="termék 1" class="arizona-kep">
        
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/TKFajita.jpg" alt="termék 1" class="arizona-kep">
       
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="arizona-card">
        <h3>Termék 1</h3> 
          <img src="./assets/arizonaImg/TKChili.jpg" alt="termék 1" class="arizona-kep">
          <p>Leírás 1</p> 
          <p class="ar">Ár: 1500 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/TKCheese.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/Steak.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/Puff.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/PrPap.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/PrBBQ.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/HotPf.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/HotCr.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/HotCheese.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/Chipito.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/HotCheese.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/ChiliCheese.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/Chili.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/Chedarpop.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/ChedarPf.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/Chedar.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="arizona-card">
      <h3>Termék 1</h3> 
        <img src="./assets/arizonaImg/Beef.jpg" alt="termék 1" class="arizona-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      
    
    </div>
  </div>
  