
<div class="pringles-lista">
  <div class="pringles-item">

    <div class="pringles-card">
        <h3>Pringles Texas BBQ Sauce 165g</h3> 
          <img src="./assets/pringles/Pringles Texas BBQ Sauce 165g.jpg" alt="Pringles Texas BBQ Sauce 165g" class="chips-kep">
          <p>A Pringles Texas BBQ Sauce egy csípős paradicsomszósz, fűszerek és füstös barbecue íz kombinációját kínáló chips, amely merész és intenzív ízélményt nyújt a klasszikus Pringles chipsek ropogós textúrájával.</p> 
          <p class="ar">Ár: 1049 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
      <div class="pringles-card">
        <h3>Pringles Paprika 130g</h3> 
          <img src="./assets/pringles/Pringles Paprika 130g.jpg" alt="Pringles Paprika 130g" class="chips-kep">
          <p>A Pringles Paprika egy pikáns-édeskés, füstös paprika ízű chips, amely ropogós állagával és intenzív fűszerezésével kínál egy karakteres snack élményt, amelyben az édes és paprikás jegyek harmonikusan keverednek.</p> 
          <p class="ar">Ár: 1049 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
   
  <div class="pringles-card">
    <h3>Pringles Original 165g</h3> 
      <img src="./assets/pringles/Pringles Original 165g.jpg" alt="Pringles Original 165g" class="pringles-kep">
      <p>Klasszikus, semleges ízű Pringles, amely az alapvető snackélményt nyújtja.</p> 
      <p class="ar">Ár: 1699 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

  <div class="pringles-card">
    <h3>Pringles Sour Cream & Onion 165g</h3> 
      <img src="./assets/pringles/Pringles Sour Cream & Onion 165g.jpg" alt="Pringles Sour Cream & Onion 165g" class="pringles-kep">
      <p>Észbontóan hagymás-tejfölös ízvilág, amely a Pringles egyik legnépszerűbb ízesítése.</p> 
      <p class="ar">Ár: 1699 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

    <div class="pringles-card">
      <h3>Pringles Hot & Spicy 165g</h3> 
        <img src="./assets/pringles/Pringles Hot & Spicy 165g.jpg" alt="Pringles Hot & Spicy 165g" class="pringles-kep">
        <p>Csípős, fűszeres íz, amely azoknak való, akik szeretik a tüzes snackeket.</p> 
        <p class="ar">Ár: 1699 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

  <div class="pringles-card">
    <h3>Pringles Ranch 165g</h3> 
      <img src="./assets/pringles/Pringles Ranch 165g.jpg" alt="Pringles Ranch 165g" class="pringles-kep">
      <p>Krémes, sajtos ízű Pringles, amely a klasszikus ranch mártást idézi.</p> 
      <p class="ar">Ár: 1699 Ft</p>
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button>
    </div>

  <div class="pringles-card">
    <h3>Pringles Jalapeño 165g</h3> 
      <img src="./assets/pringles/Pringles Jalapeño 165g.jpg" alt="Pringles Jalapeño 165g" class="pringles-kep">
      <p>Csípős jalapeño ízű Pringles, amely azoknak való, akik szeretik a fűszeres snackeket.</p> 
      <p class="ar">Ár: 1699 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="pringles-card">
    <h3>Pringles Pizza 165g</h3> 
      <img src="./assets/pringles/Pringles Pizza 165g.jpg" alt="Pringles Pizza 165g" class="pringles-kep">
      <p>Olasz ízvilágot idéző Pringles, amely a pizza klasszikus ízeit ötvözi.</p> 
      <p class="ar">Ár: 1699 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="pringles-card">
    <h3>Pringles Cheddar Cheese 165g</h3> 
      <img src="./assets/pringles/Pringles Cheddar Cheese 165g.jpg" alt="Pringles Cheddar Cheese 165g" class="pringles-kep">
      <p>Intenzív sajtos ízű Pringles, amely a cheddar sajt rajongóinak való.</p> 
      <p class="ar">Ár: 1699 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="pringles-card">
    <h3>Pringles Scorchin' Sour Cream & Onion 165g</h3> 
      <img src="./assets/pringles/Pringles Scorchin' Sour Cream & Onion 165g.jpg" alt="Pringles Scorchin' Sour Cream & Onion 165g" class="pringles-kep">
      <p>A klasszikus Sour Cream & Onion íz csípősebb változata.</p> 
      <p class="ar">Ár: 1699 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>

  <div class="pringles-card">
    <h3>Pringles Loaded Potato Skins 165g</h3> 
      <img src="./assets/pringles/Pringles Loaded Potato Skins 165g.jpg" alt="Pringles Loaded Potato Skins 165g" class="pringles-kep">
      <p>Új, limitált kiadású íz, amely a töltött krumplihéj ízeit idézi, sajttal, vajjal és szalonnás aromával.</p> 
      <p class="ar">Ár: 1699 Ft</p> 
      <div class="mennyiseg">
        Mennyiség:<input type="number" value="1">
      </div>
      <button class="kosar-gomb">Kosárba rakom</button> 
    </div>
  
  </div>
</div>

