<div class="uditok-lista"> 
    <div class="uditok-item">
      <div class="uditok-card">
  

        <h3>Prime Hydration Drink Glowberry 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Glowberry 500ml.jpg" alt="Prime Hydration Drink Glowberry 500ml" class="uditok-kep">
        <p>A Prime Hydration Glowberry egy alma-, lime- és kivi ízű, szénsavmentes üdítőital, amelyet édesítőszerekkel és hozzáadott vitaminokkal készítenek.</p> 
        <p class="ar">Ár: 3990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="uditok-card">
        <h3>Prime Hydration Drink Strawberry Watermelon 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Strawberry Watermelon 500ml.jpg" alt="Prime Hydration Drink Strawberry Watermelon 500ml" class="uditok-kep">
        <p>A Prime Hydration Strawberry Watermelon egy üdítőital, amelyben az érett, édes eper karakteres íze harmonikusan találkozik a friss görögdinnye savanykás, felfrissítő ízével.</p> 
        <p class="ar">Ár: 1490 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
      <div class="uditok-card">

        <h3>Prime Hydration Drink Ice Pop 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Ice Pop 500ml.jpg" alt="Prime Hydration Drink Ice Pop 500ml" class="uditok-kep">
        <p>A Prime Hydration Ice Pop egy hűsítő, édes jégkrém ízű üdítőital, amely frissítő és gyümölcsös karakterrel rendelkezik.</p> 
        <p class="ar">Ár: 1790 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">

        <h3>Prime Hydration Drink Blue Raspberry 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Blue Raspberry 500ml.jpg" alt="Prime Hydration Drink Blue Raspberry 500ml" class="uditok-kep">
        <p>A Prime Hydration Blue Raspberry egy élénk kék színű, intenzív málna ízű üdítőital, amely tökéletes egyensúlyt teremt az édes és a savanykás ízjegyek között.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">

        <h3>Prime Hydration Drink Lemon Lime 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Lemon Lime 500ml.jpg" alt="Prime Hydration Drink Lemon Lime 500ml" class="uditok-kep">
        <p>A Prime Hydration Lemon Lime egy frissítő citrusos ital, amely tökéletes egyensúlyt teremt a citrom savanykás és a lime üdítő íze között, kellemes és élénkítő ízélményt nyújtva.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">

        <h3>Prime Hydration Drink Grape 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Grape 500ml.jpg" alt="Prime Hydration Drink Grape 500ml" class="uditok-kep">
        <p>A Prime Hydration Grape egy intenzív, édes szőlő ízű üdítőital, amely a friss szőlő zamatos és üdítő ízvilágát kínálja minden kortyban.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Prime Hydration Drink UFC 300 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink UFC 300 500ml.jpg" alt="Prime Hydration Drink UFC 300 500ml" class="uditok-kep">
        <p>A Prime Hydration UFC 300 egy limitált kiadású, egyedi ízesítésű üdítőital, amely a UFC 300 esemény tiszteletére készült, és egy izgalmas, energiával teli ízkombinációt kínál.</p> 
        <p class="ar">Ár: 4990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Prime Hydration Drink Strawberry Banana 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Strawberry Banana 500ml.jpg" alt="Prime Hydration Drink Strawberry Banana 500ml" class="uditok-kep">
        <p>A Prime Hydration Strawberry Banana egy harmonikus ízélményt nyújt, amelyben az érett eper édessége tökéletesen ötvöződik a krémes banán ízével, frissítő és gyümölcsös karaktert kölcsönözve az italnak.</p> 
        <p class="ar">Ár: 4990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Prime Hydration Drink Auston Matthews 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Auston Matthews 500ml.jpg" alt="Prime Hydration Drink Auston Matthews 500ml" class="uditok-kep">
        <p>A Prime Hydration Auston Matthews egy limitált kiadású, jégkorong-inspirálta üdítőital, amely frissítő és energizáló ízkombinációt kínál, tükrözve a jégkorong sztár dinamikus játékstílusát.</p> 
        <p class="ar">Ár: 3990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Prime Hydration Drink WWE 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink WWE 500ml.jpg" alt="Prime Hydration Drink WWE 500ml" class="uditok-kep">
        <p>A Prime Hydration WWE egy különleges kiadású, pankráció-inspirálta üdítőital, amely intenzív és robbanékony ízkombinációt kínál, tükrözve a WWE látványos és energikus világát.</p> 
        <p class="ar">Ár: 3790 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Prime Hydration Drink Toronto Raptors Black 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Toronto Raptors Black 500ml.jpg" alt="Prime Hydration Drink Toronto Raptors Black 500ml" class="uditok-kep">
        <p>A Prime Hydration Toronto Raptors Black egy limitált kiadású, kosárlabda-inspirálta üdítőital, amely intenzív, fekete színű megjelenésével és egyedi ízkombinációjával tiszteleg a Toronto Raptors csapata előtt.</p> 
        <p class="ar">Ár: 3990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Prime Hydration Drink Central Cee 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Central Cee 500ml.jpg" alt="Prime Hydration Drink Central Cee 500ml" class="uditok-kep">
        <p>A Prime Hydration Central Cee egy limitált kiadású, brit rapper Central Cee által inspirált üdítőital, amely egyedi és merész ízkombinációt kínál, tükrözve a művész innovatív és energikus stílusát.</p> 
        <p class="ar">Ár: 3490 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Prime Hydration Drink LAKERS 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink LAKERS 500ml.jpg" alt="Prime Hydration Drink LAKERS 500ml" class="uditok-kep">
        <p>A Prime Hydration LAKERS egy limitált kiadású, kosárlabda-inspirálta üdítőital, amely a Los Angeles Lakers csapatának tiszteletére készült, és egy frissítő, lila-arany színvilágú ízkombinációt kínál.</p> 
        <p class="ar">Ár: 4590 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Prime Hydration Drink Kevin Durant 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Kevin Durant 500ml.jpg" alt="Prime Hydration Drink Kevin Durant 500ml" class="uditok-kep">
        <p>A Prime Hydration Kevin Durant egy limitált kiadású, kosárlabda-sztár inspirálta üdítőital, amely dinamikus és intenzív ízkombinációt kínál, tükrözve Durant robbanékony játékstílusát a pályán.</p> 
        <p class="ar">Ár: 4590 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Prime Hydration Drink Barcelona 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Barcelona 500ml.jpg" alt="Prime Hydration Drink Barcelona 500ml" class="uditok-kep">
        <p>A Prime Hydration Barcelona egy limitált kiadású, futball-inspirálta üdítőital, amely a híres katalán klub színeiben pompázik, és egy frissítő, mediterrán ízvilágot kínál, tükrözve a csapat szenvedélyes és dinamikus játékstílusát.</p> 
        <p class="ar">Ár: 3490 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Prime Hydration Drink Meta Moon 500ml</h3> 
        <img src="./assets/uditokImg/Prime Hydration Drink Meta Moon 500ml.jpg" alt="Prime Hydration Drink Meta Moon 500ml" class="uditok-kep">
        <p>A Prime Hydration Meta Moon egy titokzatos és futurisztikus ízű üdítőital, amely egyedi, gyümölcsös jegyekkel nyújt izgalmas és frissítő élményt.</p> 
        <p class="ar">Ár: 1790 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Arizona Marvel LXR Hero Hydration Lemon Lime 473ml</h3> 
        <img src="./assets/uditokImg/Arizona Marvel LXR Hero Hydration Lemon Lime 473ml.jpg" alt="Arizona Marvel LXR Hero Hydration Lemon Lime 473ml" class="uditok-kep">
        <p>Az Arizona Marvel LXR Hero Hydration Lemon Lime egy frissítő, szuperhős-inspirálta üdítőital, amely a citrom és lime élénk, citrusos ízét kombinálja egy alacsony cukortartalmú, elektrolitokban és vitaminokban gazdag formulával.</p> 
        <p class="ar">Ár: 2200 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Arizona Marvel LXR Hero Hydration Peach Mango 473ml</h3> 
        <img src="./assets/uditokImg/Arizona Marvel LXR Hero Hydration Peach Mango 473ml.jpg" alt="Arizona Marvel LXR Hero Hydration Peach Mango 473ml" class="uditok-kep">
        <p>Az Arizona Marvel LXR Hero Hydration Peach Mango egy szuperhős-inspirálta üdítőital, amely a zamatos őszibarack és az egzotikus mangó édes ízeinek harmonikus keverékét kínálja, elektrolitokkal és vitaminokkal dúsítva.</p> 
        <p class="ar">Ár: 2200 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>WarHeads Sour Black Cherry Soda 355ml</h3> 
        <img src="./assets/uditokImg/WarHeads Sour Black Cherry Soda 355ml.jpg" alt="WarHeads Sour Black Cherry Soda 355ml" class="uditok-kep">
        <p>A WarHeads Sour Black Cherry Soda egy intenzíven savanyú, fekete cseresznye ízű szénsavas üdítőital, amely a WarHeads cukorkák jellegzetes, arcfintorító savanyúságát ötvözi a gyümölcsös ízzel, egyedi és merész ízélményt nyújtva.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Warheads Blue Raspberry Soda 355ml</h3> 
        <img src="./assets/uditokImg/Warheads Blue Raspberry Soda 355ml.jpg" alt="Warheads Blue Raspberry Soda 355ml" class="uditok-kep">
        <p>A Warheads Blue Raspberry Soda egy intenzíven savanyú, kék málna ízű szénsavas üdítőital, amely ötvözi a Warheads cukorkák jellegzetes, arcfintorító savanyúságát a gyümölcsös ízzel, egyedi és merész ízélményt nyújtva.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>WarHeads Sour Green Apple Soda 355ml</h3> 
        <img src="./assets/uditokImg/WarHeads Sour Green Apple Soda 355ml.jpg" alt="WarHeads Sour Green Apple Soda 355ml" class="uditok-kep">
        <p>A WarHeads Sour Green Apple Soda egy intenzíven savanyú, zöldalma ízű szénsavas üdítőital, amely ötvözi a WarHeads cukorkák jellegzetes, arcfintorító savanyúságát a frissítő almaízzel, egyedi és merész ízélményt nyújtva.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Warheads Sour Watermelon Soda 355ml</h3> 
        <img src="./assets/uditokImg/Warheads Sour Watermelon Soda 355ml.jpg" alt="Warheads Sour Watermelon Soda 355ml" class="uditok-kep">
        <p>A Warheads Sour Watermelon Soda egy intenzíven savanyú, görögdinnye ízű szénsavas üdítőital, amely ötvözi a Warheads cukorkák jellegzetes, arcfintorító savanyúságát a frissítő görögdinnye ízével, egyedi és merész ízélményt nyújtva.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Warheads Sour peach soda 355ml</h3> 
        <img src="./assets/uditokImg/Warheads Sour peach soda 355ml.jpg" alt="Warheads Sour peach soda 355ml" class="uditok-kep">
        <p>A Warheads Sour Peach Soda egy intenzíven savanyú, őszibarack ízű szénsavas üdítőital, amely ötvözi a Warheads cukorkák jellegzetes, arcfintorító savanyúságát az édes őszibarack zamatával, egyedi és merész ízélményt nyújtva.</p> 
        <p class="ar">Ár: 990 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Fanta Berry 355ml</h3> 
        <img src="./assets/uditokImg/Fanta Berry 355ml.jpg" alt="Fanta Berry 355ml" class="uditok-kep">
        <p>A Fanta Berry egy bogyós gyümölcsök ízét idéző, frissítő szénsavas üdítőital, amely az áfonya és más erdei gyümölcsök édes-savanykás ízvilágát kínálja.</p> 
        <p class="ar">Ár: 680 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Fanta Fruit Twist 330ml</h3> 
        <img src="./assets/uditokImg/Fanta Fruit Twist 330ml.jpg" alt="Fanta Fruit Twist 330ml" class="uditok-kep">
        <p>A Fanta Fruit Twist egy izgalmas, többféle gyümölcs ízét ötvöző szénsavas üdítőital, amely a narancs, ananász és maracuja trópusi keverékét kínálja, frissítő és élénk ízélményt nyújtva.</p> 
        <p class="ar">Ár: 690 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Fanta Grape 355ml</h3> 
        <img src="./assets/uditokImg/Fanta Grape 355ml.jpg" alt="Fanta Grape 355ml" class="uditok-kep">
        <p>A Fanta Grape egy intenzív, édes szőlő ízű szénsavas üdítőital, amely a friss szőlő zamatos és üdítő ízvilágát kínálja, jellegzetes lila színével és buborékos frissességével.</p> 
        <p class="ar">Ár: 680 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Fanta Strawberry 350ml</h3> 
        <img src="./assets/uditokImg/Fanta Strawberry 350ml.jpg" alt="Fanta Strawberry 350ml" class="uditok-kep">
        <p>A Fanta Strawberry egy édes és zamatos, eper ízű szénsavas üdítőital, amely a friss, érett eprek ízvilágát idézi, üdítő buborékokkal és élénk rózsaszín színnel.</p> 
        <p class="ar">Ár: 680 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Fanta Peach 355ml</h3> 
        <img src="./assets/uditokImg/Fanta Peach 355ml.jpg" alt="Fanta Peach 355ml" class="uditok-kep">
        <p>A Fanta Peach egy zamatos, őszibarack ízű szénsavas üdítőital, amely a frissen szedett, érett őszibarack édes és aromás ízvilágát kínálja, üdítő buborékokkal és kellemes narancssárga színnel.</p> 
        <p class="ar">Ár: 680 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Fanta Strawberry Kiwi Soda 330ml</h3> 
        <img src="./assets/uditokImg/Fanta Strawberry Kiwi Soda 330ml.jpg" alt="Fanta Strawberry Kiwi Soda 330ml" class="uditok-kep">
        <p>A Fanta Strawberry Kiwi Soda egy frissítő szénsavas üdítőital, amely az édes eper és a savanykás kivi ízének harmonikus kombinációját kínálja, egyedi és egzotikus ízélményt nyújtva.</p> 
        <p class="ar">Ár: 480 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Fanta Lemon Soda 330ml</h3> 
        <img src="./assets/uditokImg/Fanta Lemon Soda 330ml.jpg" alt="Fanta Lemon Soda 330ml" class="uditok-kep">
        <p>A Fanta Lemon Soda egy frissítő citrusos üdítőital, amely a zamatos citrom savanykás és élénkítő ízét kínálja, tökéletes egyensúlyt teremtve az édesség és a citrusos frissesség között.</p> 
        <p class="ar">Ár: 480 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Fanta Exotic 330ml</h3> 
        <img src="./assets/uditokImg/Fanta Exotic 330ml.jpg" alt="Fanta Exotic 330ml" class="uditok-kep">
        <p>A Fanta Exotic egy trópusi gyümölcsök ízvilágát idéző szénsavas üdítőital, amely egzotikus gyümölcsök, mint a maracuja, guava és ananász harmonikus keverékét kínálja, egyedi és izgalmas ízélményt nyújtva.</p> 
        <p class="ar">Ár: 480 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Fanta Pineapple Soda 355ml</h3> 
        <img src="./assets/uditokImg/Fanta Pineapple Soda 355ml.jpg" alt="Fanta Pineapple Soda 355ml" class="uditok-kep">
        <p>A Fanta Pineapple Soda egy trópusi hangulatot idéző szénsavas üdítőital, amely az érett, zamatos ananász édes és enyhén savanykás ízét kínálja, frissítő buborékokkal és napfényes sárga színnel.</p> 
        <p class="ar">Ár: 680 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Skittles Drink Original 414ml</h3> 
        <img src="./assets/uditokImg/Skittles Drink Original 414ml.jpg" alt="Skittles Drink Original 414ml" class="uditok-kep">
        <p>A Skittles Drink Original egy egyedi, színes cukorkák által inspirált üdítőital, amely a klasszikus Skittles cukorka öt gyümölcsös ízét (eper, citrom, lime, narancs és szőlő) kombinálja egy édes és frissítő italban.</p> 
        <p class="ar">Ár: 1780 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Skittles Drink Wild Berry 414ml</h3> 
        <img src="./assets/uditokImg/Skittles Drink Wild Berry 414ml.jpg" alt="Skittles Drink Wild Berry 414ml" class="uditok-kep">
        <p>A Skittles Drink Wild Berry egy izgalmas, bogyós gyümölcsök ízvilágát idéző üdítőital, amely a Skittles Wild Berry cukorka változatosságát tükrözi, ötvözve a szeder, vad eper, vad cseresznye, málna és áfonya édes és zamatos ízeit egy frissítő italban.</p> 
        <p class="ar">Ár: 1790 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>

        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
      <div class="uditok-card">
        <h3>Skittles Drink Tropical 414ml</h3> 
        <img src="./assets/uditokImg/Skittles Drink Tropical 414ml.jpg" alt="Skittles Drink Tropical 414ml" class="uditok-kep">
        <p>A Skittles Drink Tropical egy egzotikus, trópusi gyümölcsök ízvilágát idéző üdítőital, amely a Skittles Tropical cukorka változatosságát tükrözi, ötvözve a kiwi, lime, ananász, mangó és papaya édes és frissítő ízeit egy üdítő italban.</p> 
        <p class="ar">Ár: 1790 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Skittles Drink Sour 414ml</h3> 
        <img src="./assets/uditokImg/Skittles Drink Sour 414ml.jpg" alt="Skittles Drink Sour 414ml" class="uditok-kep">
        <p>A Skittles Drink Sour egy merész és izgalmas üdítőital, amely a Skittles Sour cukorkák intenzív, savanyú-édes ízvilágát idézi, ötvözve a citrom, zöldalma, eper, szőlő és mandarin fanyar és frissítő ízeit egy stimuláló italban.</p> 
        <p class="ar">Ár: 1790 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Ghost Hydration Drink Sour Patch Kids 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Sour Patch Kids 500ml.jpg" alt="Ghost Hydration Drink Sour Patch Kids 500ml" class="uditok-kep">
        <p>A Ghost Hydration Drink Sour Patch Kids egy egyedi, savanyú cukorkák által inspirált üdítőital, amely ötvözi a Sour Patch Kids cukorkák jellegzetes savanyú-édes ízprofilját egy frissítő és hidratáló formulával.</p> 
        <p class="ar">Ár: 2990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Fanta Lime 500ml</h3> 
        <img src="./assets/uditokImg/Fanta Lime 500ml.jpg" alt="Fanta Lime 500ml" class="uditok-kep">
        <p>A Fanta Lime egy frissítően citrusos, élénk lime ízű szénsavas üdítőital, amely tökéletes egyensúlyt teremt az édes és savanykás ízek között.</p> 
        <p class="ar">Ár: 1280 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Fanta Green Apple 185ml</h3> 
        <img src="./assets/uditokImg/Fanta Green Apple 185ml.jpg" alt="Fanta Green Apple 185ml" class="uditok-kep">
        <p>A Fanta Green Apple egy élénk és frissítő zöldalma ízű szénsavas ital, amely édes és enyhén savanykás ízvilágával igazi üdítő élményt nyújt.</p> 
        <p class="ar">Ár: 1290 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Chinese Fanta White Peach 330ml</h3> 
        <img src="./assets/uditokImg/Chinese Fanta White Peach 330ml.jpg" alt="Chinese Fanta White Peach 330ml" class="uditok-kep">
        <p>A Chinese Fanta White Peach egy üdítően édes és zamatos fehér őszibarack ízű szénsavas ital, amely frissítően gyümölcsös élményt nyújt.</p> 
        <p class="ar">Ár: 790 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Skittles Tropical Liquid Water Enhancer 48ml</h3> 
        <img src="./assets/uditokImg/Skittles Tropical Liquid Water Enhancer 48ml.jpg" alt="Skittles Tropical Liquid Water Enhancer 48ml" class="uditok-kep">
        <p>A Skittles Tropical Liquid Water Enhancer egy trópusi gyümölcsízű, folyékony italízesítő, amely néhány cseppel feldobja a vizet, édes és gyümölcsös frissességet biztosítva.</p> 
        <p class="ar">Ár: 4510 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Skittles Tropical Punch flavored drink powder, 6-pack</h3> 
        <img src="./assets/uditokImg/Skittles Tropical Punch flavored drink powder, 6-pack.jpg" alt="Skittles Tropical Punch flavored drink powder, 6-pack" class="uditok-kep">
        <p>A Skittles Tropical Punch trópusi puncs ízű italpor egy egzotikus gyümölcsök édes és frissítő ízét hozza el, könnyen elkészíthető, ízesített üdítő formájában.</p> 
        <p class="ar">Ár: 1416 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Skittles Wild Berry Water Enhancer 48ml</h3> 
        <img src="./assets/uditokImg/Skittles Wild Berry Water Enhancer 48ml.jpg" alt="Skittles Wild Berry Water Enhancer 48ml" class="uditok-kep">
        <p>A Skittles Wild Berry Water Enhancer egy bogyós gyümölcsök ízvilágát hozó, folyékony italízesítő, amely néhány cseppel frissítő, édes és gyümölcsös élményt ad a vízhez.</p> 
        <p class="ar">Ár: 2573 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Arizona Cherry Lime Rickey 650ml</h3> 
        <img src="./assets/uditokImg/Arizona Cherry Lime Rickey 650ml.jpg" alt="Arizona Cherry Lime Rickey 650ml" class="uditok-kep">
        <p>Az Arizona Cherry Lime Rickey egy frissítő, enyhén savanykás cseresznye és lime ízű üdítőital, amely tökéletesen kiegyensúlyozza az édes és citrusos ízeket egy élénk és ínycsiklandó italban.</p> 
        <p class="ar">Ár: 990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Arizona Frost Chillzicle 650ml</h3> 
        <img src="./assets/uditokImg/Arizona Frost Chillzicle 650ml.jpg" alt="Arizona Frost Chillzicle 650ml" class="uditok-kep">
        <p>Az Arizona Frost Chillzicle egy hűsítő és frissítő üdítő, amely az élénk gyümölcsízeket és a jeges frissességet ötvözi, tökéletes választás a forró napokra.</p> 
        <p class="ar">Ár: 990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Ghost Hydration Drink Orange Squeeze 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Orange Squeeze 500ml.jpg" alt="Ghost Hydration Drink Orange Squeeze 500ml" class="uditok-kep">
        <p>Frissítő, lédús narancsos íz enyhe savanykás utóízzel.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Ghost Hydration Drink Kiwi Strawberry 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Kiwi Strawberry 500ml.jpg" alt="Ghost Hydration Drink Kiwi Strawberry 500ml" class="uditok-kep">
        <p>Intenzív, édes-savanykás eper íz autentikus kivi aromával kiegészítve.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Ghost Hydration Drink Lemon Lime 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Lemon Lime 500ml.jpg" alt="Ghost Hydration Drink Lemon Lime 500ml" class="uditok-kep">
        <p>Kiegyensúlyozott, üdítő citrom-lime ízkombináció kellemes savanyú beütéssel.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Ghost Hydration Drink Blue Raspberry 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Blue Raspberry 500ml.jpg" alt="Ghost Hydration Drink Blue Raspberry 500ml" class="uditok-kep">
        <p>Édes-savanyú kék málna íz, amely a népszerű cukorkát idézi.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Ghost Hydration Drink Lemon Crush 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Lemon Crush 500ml.jpg" alt="Ghost Hydration Drink Lemon Crush 500ml" class="uditok-kep">
        <p>Intenzív citromos íz narancs aromával kiegészítve, frissítő citrusos élményt nyújtva.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Ghost Hydration Drink Tropical Mango 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Tropical Mango 500ml.jpg" alt="Ghost Hydration Drink Tropical Mango 500ml" class="uditok-kep">
        <p>Édeskés mangó íz enyhe ananász és narancs aromával, trópusi hangulatot idézve.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Ghost Hydration Drink Cherry Limeade 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Cherry Limeade 500ml.jpg" alt="Ghost Hydration Drink Cherry Limeade 500ml" class="uditok-kep">
        <p>Erőteljes cseresznye íz frissítő lime utóízzel, tökéletes egyensúlyban.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Ghost Hydration Drink Citrus 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Citrus 500ml.jpg" alt="Ghost Hydration Drink Citrus 500ml" class="uditok-kep">
        <p>Frissítő, kiegyensúlyozott citrusfélék keveréke, amely több citrusgyümölcs ízét ötvözi.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Ghost Hydration Drink Orange Cream 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Orange Cream 500ml.jpg" alt="Ghost Hydration Drink Orange Cream 500ml" class="uditok-kep">
        <p>Krémes, édes narancsos íz vaníliás beütéssel, amely a klasszikus narancskrémes fagylaltra emlékeztet.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Ghost Hydration Drink Sour Pink Lemonade 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Hydration Drink Sour Pink Lemonade 500ml.jpg" alt="Ghost Hydration Drink Sour Pink Lemonade 500ml" class="uditok-kep">
        <p>Savanykás rózsaszín limonádé íz, frissítő citrusos aromával.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

      <div class="uditok-card">
        <h3>Ghost Energy Drink, Warheads Sour Watermelon 500ml</h3> 
        <img src="./assets/uditokImg/Ghost Energy Drink, Warheads Sour Watermelon 500ml.jpg" alt="Ghost Energy Drink, Warheads Sour Watermelon 500ml" class="uditok-kep">
        <p>Intenzív, savanyú görögdinnye ízű energiaital, amely a népszerű Warheads cukorka jellegzetes, csípős-savanyú aromáját idézi, frissítő és energizáló élményt nyújtva.</p> 
        <p class="ar">Ár: 7411 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>

    </div>
  </div>
  
