
<div class="sos-chipsek-lista">
    <div class="sos-chipsek-item">
  
      <div class="sos-chipsek-card">
        <h3>Pringles Texas BBQ Sauce 165g</h3> 
          <img src="./assets/chipsImg/Pringles Texas BBQ Sauce 165g.jpg" alt="Pringles Texas BBQ Sauce 165g" class="sos-chipsek-kep">
          <p>A Pringles Texas BBQ Sauce egy csípős paradicsomszósz, fűszerek és füstös barbecue íz kombinációját kínáló chips, amely merész és intenzív ízélményt nyújt a klasszikus Pringles chipsek ropogós textúrájával.</p> 
          <p class="ar">Ár: 1049 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
      <div class="sos-chipsek-card">
        <h3>Pringles Paprika 130g</h3> 
          <img src="./assets/chipsImg/Pringles Paprika 130g.jpg" alt="Pringles Paprika 130g" class="sos-chipsek-kep">
          <p>A Pringles Paprika egy pikáns-édeskés, füstös paprika ízű chips, amely ropogós állagával és intenzív fűszerezésével kínál egy karakteres snack élményt, amelyben az édes és paprikás jegyek harmonikusan keverednek.</p> 
          <p class="ar">Ár: 1049 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Chazz Flaming Ghost Potato Chips 50g</h3> 
          <img src="./assets/chipsImg/Chazz Flaming Ghost Potato Chips 50g.jpg" alt="Chazz Flaming Ghost Potato Chips 50g" class="sos-chipsek-kep">
          <p>A Chazz Flaming Ghost Potato Chips egy rendkívül csípős burgonyachips, amely 0,8% Naga Jolokia és Scotch Bonnet paprikát tartalmaz, intenzív fűszerezéssel és olyan erős hőhatással, amely váratlanul \"kísért meg\" mint egy szellem.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Hot Chip Challenge Purple Edition 2,5g</h3> 
          <img src="./assets/chipsImg/Hot Chip Challenge Purple Edition 2,5g.jpg" alt="Hot Chip Challenge Purple Edition 2,5g" class="sos-chipsek-kep">
          <p>A Hot Chip Challenge Purple Edition egy extrém csípős kukoricachips, amely a világ legerősebb paprikáinak (Carolina Reaper, Trinidad Moruga Scorpion, Naga Bhut Jolokia) keverékével készül, amely 2 200 000 Scoville-egységnyi intenzív, égető csípősséget biztosít egyetlen falatban.</p> 
          <p class="ar">Ár: 3690 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Takis Blue Heat Spicy Mexican Chips 92g</h3> 
          <img src="./assets/chipsImg/Takis Blue Heat Spicy Mexican Chips 92g.jpeg" alt="Takis Blue Heat Spicy Mexican Chips 92g" class="sos-chipsek-kep">
          <p>A Takis Blue Heat egy rendkívül csípős mexikói chips, amely vibráns kék színben és intenzív, pikáns fűszerezésben tündököl, lime és chili paprika keverékével kínálva egy merész és tűzforró ízélményt.</p> 
          <p class="ar">Ár: 1990 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Takis Guacamole Mexico 70g</h3> 
          <img src="./assets/chipsImg/Takis Guacamole Mexico 70g.jpg" alt="Takis Guacamole Mexico 70g" class="sos-chipsek-kep">
          <p>A Takis Guacamole Mexico egy csípős, guacamole ízesítésű kukoricás tortilla chips, amely valódi avokádó és fűszerkeverék felhasználásával készül, intenzív mexikói ízvilágot és enyhe csípősséget kínálva.</p> 
          <p class="ar">Ár: 1390 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Takis Queso Volcano Chips 90g</h3> 
          <img src="./assets/chipsImg/Takis Queso Volcano Chips 90g.jpg" alt="Takis Queso Volcano Chips 90g" class="sos-chipsek-kep">
          <p>A Takis Queso Volcano Chips egy intenzív, csípős sajtos tortilla chips, amely a sajt és chili fűszerek tűzforró kombinációját kínálja, vulkanikus ízvilágot teremtve egyetlen harapásban.</p> 
          <p class="ar">Ár: 1690 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Takis Fuego Hot Chips 90g</h3> 
          <img src="./assets/chipsImg/Takis Fuego Hot Chips 90g.jpg" alt="Takis Fuego Hot Chips 90g" class="sos-chipsek-kep">
          <p>A Takis Fuego Hot Chips egy rendkívül csípős mexikói tortilla chips, amely a chili és lime tűzforró kombinációjával kínál intenzív, pikáns ízélményt, csavart taco formában, a mexikói konyha szenvedélyes karakterét idézve.</p> 
          <p class="ar">Ár: 1690 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Takis Nitro 113g</h3> 
          <img src="./assets/chipsImg/Takis Nitro 113g.jpg" alt="Takis Nitro 113g" class="sos-chipsek-kep">
          <p>Intenzív habanero chili ízesítésű tekercs, fekete-piros csomagolásban, enyhén füstös aromával.</p> 
          <p class="ar">Ár: 1990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
 
  
      <div class="sos-chipsek-card">
        <h3>Takis Dragon Sweet Chili 90g</h3> 
          <img src="./assets/chipsImg/Takis Dragon Sweet Chili 90g.jpg" alt="Takis Dragon Sweet Chili 90g" class="sos-chipsek-kep">
          <p>Édes-csípős ízesítésű tekercs, amely a Sweet Chili Doritos rajongóinak is ízleni fog.</p> 
          <p class="ar">Ár: 1990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
  
  
      <div class="sos-chipsek-card">
        <h3>Takis Zombie 92g</h3> 
          <img src="./assets/chipsImg/Takis Zombie 92g.jpg" alt="Takis Zombie 92g" class="sos-chipsek-kep">
          <p>Habanero és uborka ízesítésű tekercs, fekete-zöld csomagolásban.</p> 
          <p class="ar">Ár: 1990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Takis Waves Fuego 190g</h3> 
          <img src="./assets/chipsImg/Takis Waves Fuego 190g.jpg" alt="Takis Waves Fuego 190g" class="sos-chipsek-kep">
          <p>Hullámos burgonyachips változat a klasszikus Fuego ízesítéssel.</p> 
          <p class="ar">Ár: 1473 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Takis Hot Nuts Fuego 90g</h3> 
          <img src="./assets/chipsImg/Takis Hot Nuts Fuego 90g.jpg" alt="Takis Hot Nuts Fuego 90g" class="sos-chipsek-kep">
          <p>Ropogós kukoricabevonattal ellátott földimogyoró, a Fuego ízesítéssel.</p> 
          <p class="ar">Ár: 1490 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Takis Stix Fuego 280g</h3> 
          <img src="./assets/chipsImg/Takis Stix Fuego 280g.jpg" alt="Takis Stix Fuego 280g" class="sos-chipsek-kep">
          <p>Vékony kukorica rudacskák a klasszikus Fuego ízesítéssel, intenzívebb chili és lime aromával.</p> 
          <p class="ar">Ár: 1513 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Cheetos Crunchy Cheddar Jalapeño Chips 226g</h3> 
          <img src="./assets/chipsImg/Cheetos Crunchy Cheddar Jalapeño Chips 226g.jpg" alt="Cheetos Crunchy Cheddar Jalapeño Chips 226g" class="sos-chipsek-kep">
          <p>Tökéletes egyensúly a sajtos és csípős ízek között, intenzív jalapeño aromával.</p> 
          <p class="ar">Ár: 1990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Cheetos Flamin' Hot Crunchy 226g</h3> 
          <img src="./assets/chipsImg/Cheetos Flamin' Hot Crunchy 226g.jpg" alt="Cheetos Flamin' Hot Crunchy 226g" class="sos-chipsek-kep">
          <p>Ikonikus csípős íz, amely rendkívül népszerű a rajongók körében.</p> 
          <p class="ar">Ár: 3490 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
     
  
      <div class="sos-chipsek-card">
        <h3>Cheetos Flamin' Hot Puffs 226g</h3> 
          <img src="./assets/chipsImg/Cheetos Flamin' Hot Puffs 226g.jpg" alt="Cheetos Flamin' Hot Puffs 226g" class="sos-chipsek-kep">
          <p>A népszerű csípős íz puffasztott változata, amely még intenzívebb ízélményt nyújt.</p> 
          <p class="ar">Ár: 3490 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
  
      <div class="sos-chipsek-card">
        <h3>Cheetos Big Chipito Sweet Chilli flavour 100g</h3> 
          <img src="./assets/chipsImg/Cheetos Big Chipito Sweet Chilli flavour 100g.jpg" alt="Cheetos Big Chipito Sweet Chilli flavour 100g" class="sos-chipsek-kep">
          <p>Nagyobb méretű, ropogós kukoricachips édes-csípős chili ízesítéssel.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Cheetos Crunchetos Sweet Chili flavour 110g</h3> 
          <img src="./assets/chipsImg/Cheetos Crunchetos Sweet Chili flavour 110g.jpg" alt="Cheetos Crunchetos Sweet Chili flavour 110g" class="sos-chipsek-kep">
          <p>Ropogós kukoricachips édes-csípős chili aromával, intenzív ízélményt nyújtva.</p> 
          <p class="ar">Ár: 240 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="sos-chipsek-card">
        <h3>Cheetos Crunchy Xxtra Flamin Hot' Cheese Flavored 240g</h3> 
          <img src="./assets/chipsImg/Cheetos Crunchy Xxtra Flamin Hot' Cheese Flavored 240g.jpg" alt="Cheetos Crunchy Xxtra Flamin Hot' Cheese Flavored 240g" class="sos-chipsek-kep">
          <p>Még csípősebb változata a klasszikus Flamin' Hot íznek.</p> 
          <p class="ar">Ár: 7380 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
  
      <div class="sos-chipsek-card">
        <h3>Cheetos Big Chipito Sweet Chilli flavour 100g</h3> 
          <img src="./assets/chipsImg/Cheetos Big Chipito Sweet Chilli flavour 100g.jpg" alt="Cheetos Big Chipito Sweet Chilli flavour 100g" class="sos-chipsek-kep">
          <p>Nagyobb méretű, ropogós kukoricachips édes-csípős chili ízesítéssel.</p> 
          <p class="ar">Ár: 990 Ft</p> 
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
    
    </div>
  </div>
  

