<div class="gumicukrok-lista"> 
  <div class="gumicukor-item">

    <div class="gumicukor-card">
      <h3>Sour Patch Kids Strawberry 102g</h3> 
        <img src="./assets/cukorImg/Sour Patch Kids Strawberry 102g.jpg" alt="Sour Patch Kids Strawberry 102g" class="gumicukor-kep">
        <p>A Sour Patch Kids Strawberry egy savanyú-édes epres gumicukor, amely először intenzív savanyú bevonattal, majd fokozatosan édesedő eper ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1290 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>
  
    <div class="gumicukor-card">
      <h3>Sour Patch Kids Grape 130g</h3> 
        <img src="./assets/cukorImg/sour1.jpg" alt="Sour Patch Kids Cola Flavor 130g" class="gumicukor-kep">
        <p>A Sour Patch Kids Cola Flavor egy savanyú-édes gumicukor, amely a klasszikus szőlő ízét idézi, először intenzív savanyú bevonattal, majd fokozatosan édesedő szőlő ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1390 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
    </div>
     
    <div class="gumicukor-card">
      <h3>Sour Patch Kids Blue Raspberry 102g</h3> 
        <img src="./assets/cukorImg/sour0.jpg" alt="Sour Patch Kids Blue Raspberry 102g" class="gumicukor-kep">
        <p>A Sour Patch Kids Blue Raspberry egy savanyú-édes gumicukor, amely a kék málna intenzív, frissítő ízét kínálja, először erős savanyú bevonattal, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1190 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Patch Kids Lemonade Fest 102g</h3> 
        <img src="./assets/cukorImg/Sour Patch Kids Lemonade Fest 102g.jpg" alt="Sour Patch Kids Lemonade Fest 102g" class="gumicukor-kep">
        <p>A Sour Patch Kids Lemonade Fest egy négyféle limonádé ízű (eper limonádé, kék málna limonádé, meggy-lime limonádé és klasszikus limonádé) savanyú-édes gumicukor, amely először intenzív savanyú bevonattal, majd fokozatosan édesedő gyümölcsös limonádé ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1390 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
       <h3>Sour Patch Kids 99g</h3> 
        <img src="./assets/cukorImg/Sour Patch Kids 99g.jpg" alt="Sour Patch Kids 99g" class="gumicukor-kep">
        <p>A Sour Patch Kids egy extrém savanyú gumicukor, amely először intenzív savanyú bevonattal, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1290 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Patch Kids Extreme 99g</h3> 
        <img src="./assets/cukorImg/Sour Patch Kids Extreme 99g.jpg" alt="Sour Patch Kids Extreme 99g" class="gumicukor-kep">
        <p>A Sour Patch Kids Extreme egy extrém savanyú gumicukor, amely először intenzív savanyú bevonattal lepi meg az ízlelőbimbókat, majd fokozatosan egy édes, gyümölcsös ízvilágba vált át, garantálva egy merész és izgalmas édességélményt.</p> 
        <p class="ar">Ár: 1290 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Patch Kids Candy Family Size 816g</h3> 
        <img src="./assets/cukorImg/Sour Patch Kids Candy Family Size 816g.jpg" alt="Sour Patch Kids Candy Family Size 816g" class="gumicukor-kep">
        <p>A Sour Patch Kids Candy egy klasszikus, savanyú-édes gumicukor, amely citrom, lime, narancs és piros bogyós gyümölcs ízeket tartalmaz, először intenzív savanyú bevonattal, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 6990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Patch Kids Watermelon 130g</h3> 
        <img src="./assets/cukorImg/Sour Patch Kids Watermelon 130g.jpg" alt="Sour Patch Kids Watermelon 130g" class="gumicukor-kep">
        <p>A Sour Patch Kids Watermelon egy savanyú-édes gumicukor, amely a friss görögdinnye intenzív ízét kínálja, először erős savanyú bevonattal, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1790 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Patch Kids Peach 102g</h3> 
        <img src="./assets/cukorImg/Sour Patch Kids Peach 102g.jpg" alt="Sour Patch Kids Peach 102g" class="gumicukor-kep">
        <p>A Sour Patch Kids Peach egy savanyú-édes gumicukor, amely az érett őszibarack intenzív, friss gyümölcsös ízét kínálja, először erős savanyú bevonattal, majd fokozatosan édesedő barack ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1190 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Patch Kids Red White & Blue 87g</h3> 
        <img src="./assets/cukorImg/Sour Patch Kids Red White & Blue 87g.jpg" alt="Sour Patch Kids Red White & Blue 87g" class="gumicukor-kep">
        <p>A Sour Patch Kids Red White & Blue egy patrióta ihletésű, háromféle (piros, fehér és kék) gyümölcsös ízű gumicukor, amely először intenzív savanyú bevonattal, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1290 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Patch Kids Christmas 88g</h3> 
        <img src="./assets/cukorImg/Sour Patch Kids Christmas 88g.jpg" alt="Sour Patch Kids Christmas 88g" class="gumicukor-kep">
        <p>A Sour Patch Kids Christmas egy ünnepi, piros és zöld színű gumicukor, amely a klasszikus savanyú-édes ízvilágot karácsonyi hangulatban kínálja, először intenzív savanyú bevonattal, majd fokozatosan édesedő gyümölcsös ízekkel lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1690 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Patch Kids Fruit Mix 130g</h3> 
        <img src="./assets/cukorImg/Sour Patch Kids Fruit Mix 130g.jpg" alt="Sour Patch Kids Fruit Mix 130g" class="gumicukor-kep">
        <p>A Sour Patch Kids Fruit Mix egy vegyes gyümölcs ízű gumicukor, amely cseresznye, alma, trópusi és feketeribizli ízeket tartalmaz, először intenzív savanyú bevonattal, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Patch Kids Black Raspberry Sour Hearts 87g</h3> 
        <img src="./assets/cukorImg/Sour Patch Kids Black Raspberry Sour Hearts 87g.jpg" alt="Sour Patch Kids Black Raspberry Sour Hearts 87g" class="gumicukor-kep">
        <p>A Sour Patch Kids Black Raspberry Sour Hearts egy szív alakú, fekete málna ízű gumicukor, amely először intenzív savanyú bevonattal, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat, tökéletes édességet kínálva Valentin-napra vagy bármilyen alkalomra.</p> 
        <p class="ar">Ár: 1290 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Patch Kids Original 130g</h3> 
        <img src="./assets/cukorImg/Sour Patch Kids Original 130g.jpg" alt="Sour Patch Kids Original 130g" class="gumicukor-kep">
        <p>A Sour Patch Kids Original egy klasszikus, gyümölcsös ízű gumicukor, amely először intenzív savanyú bevonattal lepi meg az ízlelőbimbókat, majd fokozatosan egy édes, nyúlós belsővel kínál élményt.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Punch Bites Strawberry, Green Apple & Blue Raspberry Sour Gummy Candy 105g</h3> 
        <img src="./assets/cukorImg/Sour Punch Bites Strawberry, Green Apple & Blue Raspberry Sour Gummy Candy 105g.jpg" alt="Sour Punch Bites Strawberry, Green Apple & Blue Raspberry Sour Gummy Candy 105g" class="gumicukor-kep">
        <p>A Sour Punch Bites Strawberry, Green Apple & Blue Raspberry egy háromféle ízű (eper, zöldalma és kék málna) savanyú gumicukor, amely először intenzív savanyú cukorborítással, majd édes gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1090 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Punch Bites Rad Reds Fruity Gummy Candy 142g</h3> 
        <img src="./assets/cukorImg/Sour Punch Bites Rad Reds Fruity Gummy Candy 142g.jpg" alt="Sour Punch Bites Rad Reds Fruity Gummy Candy 142g" class="gumicukor-kep">
        <p>A Sour Punch Bites Rad Reds egy gyümölcsös gumicukor, amely vörös gyümölcsök intenzív, savanyú-édes ízvilágát kínálja, először erős savanyú bevonattal, majd fokozatosan édesedő gyümölcsös ízekkel lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1390 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Punch Mini Bites Fruit-Flavored Sour Gummy Candy 56g</h3> 
        <img src="./assets/cukorImg/Sour Punch Mini Bites Fruit-Flavored Sour Gummy Candy 56g.jpg" alt="Sour Punch Mini Bites Fruit-Flavored Sour Gummy Candy 56g" class="gumicukor-kep">
        <p>A Sour Punch Mini Bites Fruit-Flavored Sour Gummy Candy egy vegyes gyümölcs ízű, apró méretű savanyú gumicukor, amely először intenzív savanyú bevonattal, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1090 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Sour Punch Bites Blue Raspberry Sour Gummy Candy 105g</h3> 
        <img src="./assets/cukorImg/Sour Punch Bites Blue Raspberry Sour Gummy Candy 105g.jpg" alt="Sour Punch Bites Blue Raspberry Sour Gummy Candy 105g" class="gumicukor-kep">
        <p>A Sour Punch Bites Blue Raspberry Sour Gummy Candy egy intenzív kék málna ízű savanyú gumicukor, amely először erős savanyú bevonattal, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1190 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Care Bears Sour Grumpy Bears 99g</h3> 
        <img src="./assets/cukorImg/Warheads Care Bears Sour Grumpy Bears 99g.jpg" alt="Warheads Care Bears Sour Grumpy Bears 99g" class="gumicukor-kep">
        <p>A Warheads Care Bears Sour Grumpy Bears egy intenzív kék málna ízű, extrém savanyú bevonattal ellátott gumicukor, amely először erős savanyúsággal, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Galactic Mix Cubes 127g</h3> 
        <img src="./assets/cukorImg/Warheads Galactic Mix Cubes 127g.jpg" alt="Warheads Galactic Mix Cubes 127g" class="gumicukor-kep">
        <p>A Warheads Galactic Mix Cubes egy űrtémájú, intenzíven savanyú gumicukor keverék, amely különböző gyümölcsös ízekben (mint például fekete cseresznye, kék málna és zöldalma) kínál extrém savanyú élményt, majd fokozatosan édesedő ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Ooze Chewz Sour Filled Candy 99g</h3> 
        <img src="./assets/cukorImg/Warheads Ooze Chewz Sour Filled Candy 99g.jpg" alt="Warheads Ooze Chewz Sour Filled Candy 99g" class="gumicukor-kep">
        <p>A Warheads Ooze Chewz Sour Filled Candy egy intenzíven savanyú, folyékony töltelékkel ellátott rágócukorka, amely először extrém savanyú ízrobbanással, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1390 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Wedgies Sour Chewy Candy 99g</h3> 
        <img src="./assets/cukorImg/Warheads Wedgies Sour Chewy Candy 99g.jpg" alt="Warheads Wedgies Sour Chewy Candy 99g" class="gumicukor-kep">
        <p>A Warheads Wedgies Sour Chewy Candy egy intenzíven savanyú, ék alakú rágós gumicukor, amely görögdinnye, puncs, limonádé és cseresznye ízekben kínál extrém savanyú élményt, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1290 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Sour Worms 99g</h3> 
        <img src="./assets/cukorImg/Warheads Sour Worms 99g.jpg" alt="Warheads Sour Worms 99g" class="gumicukor-kep">
        <p>A Warheads Sour Worms egy intenzíven savanyú, kukac alakú gumicukor, amely többféle gyümölcsös ízben (mint zöldalma, fekete cseresznye és kék málna) kínál extrém savanyú élményt, majd fokozatosan édesedő ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1390 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Sour Cubes Sour Gummies 113g</h3> 
        <img src="./assets/cukorImg/Warheads Sour Cubes Sour Gummies 113g.jpg" alt="Warheads Sour Cubes Sour Gummies 113g" class="gumicukor-kep">
        <p>A Warheads Sour Cubes Sour Gummies egy intenzíven savanyú, kocka alakú rágós gumicukor, amely öt különböző ízben (dinnye, eper, cseresznye, zöld alma és kék málna) kínál extrém savanyú élményt, majd fokozatosan édesedő gyümölcsös ízvilággal lep meg.</p> 
        <p class="ar">Ár: 1390 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>WarHeads Chewy Cubes Galactic Mix 99g</h3> 
        <img src="./assets/cukorImg/WarHeads Chewy Cubes Galactic Mix 99g.jpg" alt="WarHeads Chewy Cubes Galactic Mix 99g" class="gumicukor-kep">
        <p>A WarHeads Chewy Cubes Galactic Mix egy űrtémájú, intenzíven savanyú, kocka alakú rágós gumicukor, amely különleges gyümölcsös ízekben (mint fekete cseresznye, kék málna és zöldalma) kínál extrém savanyú élményt, majd fokozatosan édesedő ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1390 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Sour Cubes Berry Mix 99g</h3> 
        <img src="./assets/cukorImg/Warheads Sour Cubes Berry Mix 99g.jpg" alt="Warheads Sour Cubes Berry Mix 99g" class="gumicukor-kep">
        <p>A Warheads Sour Cubes Berry Mix egy intenzíven savanyú, kocka alakú rágós gumicukor, amely különböző bogyós gyümölcsök ízében kínál extrém savanyú élményt, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Extreme Sour Hard Candy 92g</h3> 
        <img src="./assets/cukorImg/Warheads Extreme Sour Hard Candy 92g.jpg" alt="Warheads Extreme Sour Hard Candy 92g" class="gumicukor-kep">
        <p>A Warheads Extreme Sour Hard Candy egy intenzíven savanyú keménycukorka, amely öt különböző gyümölcsös ízben (zöldalma, fekete cseresznye, kék málna, citrom és görögdinnye) kínál extrém savanyú élményt, majd fokozatosan édes ízvilágba vált át.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Jelly Beans Sour Candy 113g</h3> 
        <img src="./assets/cukorImg/Warheads Jelly Beans Sour Candy 113g.jpg" alt="Warheads Jelly Beans Sour Candy 113g" class="gumicukor-kep">
        <p>A Warheads Jelly Beans Sour Candy egy intenzíven savanyú zselécukorka, amely hat megdöbbentően savanykás gyümölcsös ízben (narancs, görögdinnye, citrom, kék málna, cseresznye és zöld alma) kínál extrém savanyú élményt.</p> 
        <p class="ar">Ár: 1090 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Cubes 141g</h3> 
        <img src="./assets/cukorImg/Warheads Cubes 141g.jpg" alt="Warheads Cubes 141g" class="gumicukor-kep">
        <p>A Warheads Cubes egy intenzíven savanyú, kocka alakú rágós gumicukor, amely hat különböző gyümölcsös ízben (zöldalma, kék málna, eper, görögdinnye, narancs és fekete cseresznye) kínál extrém savanyú élményt, majd fokozatosan édesedő ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1690 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Cubes 99g</h3> 
        <img src="./assets/cukorImg/Warheads Cubes 99g.jpg" alt="Warheads Cubes 99g" class="gumicukor-kep">
        <p>A Warheads Cubes egy intenzíven savanyú, kocka alakú rágós gumicukor, amely hat különböző gyümölcsös ízben (zöldalma, kék málna, eper, görögdinnye, narancs és fekete cseresznye) kínál extrém savanyú élményt, majd fokozatosan édesedő ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Mega Sour Bombs 71g</h3> 
        <img src="./assets/cukorImg/Warheads Mega Sour Bombs 71g.jpg" alt="Warheads Mega Sour Bombs 71g" class="gumicukor-kep">
        <p>A Warheads Mega Sour Bombs egy extrém savanyú, bomba alakú kemény cukorka, amely intenzív gyümölcsös ízekben kínál megdöbbentően savanyú élményt, majd fokozatosan édesedő ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1690 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Sour Ooze Chewz Ropes Bag 85g</h3> 
        <img src="./assets/cukorImg/Warheads Sour Ooze Chewz Ropes Bag 85g.jpg" alt="Warheads Sour Ooze Chewz Ropes Bag 85g" class="gumicukor-kep">
        <p>A Warheads Sour Ooze Chewz Ropes Bag egy intenzíven savanyú, rágós cukorka zsinór, amely görögdinnye, kék málna és zöldalma ízekben kínál extrém savanyú élményt, belsejében savanyú töltelékkel, majd fokozatosan édesedő ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Blue Raspberry Cubes 99g</h3> 
        <img src="./assets/cukorImg/Warheads Blue Raspberry Cubes 99g.jpg" alt="Warheads Blue Raspberry Cubes 99g" class="gumicukor-kep">
        <p>A Warheads Blue Raspberry Cubes egy intenzíven savanyú, kék málna ízű kocka alakú gumicukor, amely először extrém savanyú élményt nyújt, majd fokozatosan édesedő gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1390 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Extreme Sour Hard Candy 57g</h3> 
        <img src="./assets/cukorImg/Warheads Extreme Sour Hard Candy 57g.jpg" alt="Warheads Extreme Sour Hard Candy 57g" class="gumicukor-kep">
        <p>A Warheads Extreme Sour Hard Candy egy intenzíven savanyú keménycukorka, amely öt különböző gyümölcsös ízben (görögdinnye, alma, kék málna, citrom és fekete cseresznye) kínál extrém savanyú élményt, majd fokozatosan édes, gyümölcsös ízvilágba vált át.</p> 
        <p class="ar">Ár: 1390 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Dipping Lollipop with Sour Powder 42g</h3> 
        <img src="./assets/cukorImg/Warheads Dipping Lollipop with Sour Powder 42g.jpg" alt="Warheads Dipping Lollipop with Sour Powder 42g" class="gumicukor-kep">
        <p>A Warheads Dipping Lollipop with Sour Powder egy intenzív ízélményt nyújtó nyalóka, amely egy édes cukorka alapot és egy rendkívül savanyú port kombinál, lehetővé téve, hogy a fogyasztó a nyalókát a savanyú porba mártogassa, így fokozva az extrém savanyú-édes kontrasztot.</p> 
        <p class="ar">Ár: 690 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Warheads Extreme Sour Extra Sour Candy Assorted Flavors 4g</h3> 
        <img src="./assets/cukorImg/Warheads Extreme Sour Extra Sour Candy Assorted Flavors 4g.jpg" alt="Warheads Extreme Sour Extra Sour Candy Assorted Flavors 4g" class="gumicukor-kep">
        <p>A Warheads Mega Sour Bombs egy extrém savanyú, bomba alakú kemény cukorka, amely intenzív gyümölcsös ízekben kínál megdöbbentően savanyú élményt, majd fokozatosan édesedő ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 99 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Bazooka Rattlerz Sour Chewy Candy 40g</h3> 
        <img src="./assets/cukorImg/Bazooka Rattlerz Sour Chewy Candy 40g.jpg" alt="Bazooka Rattlerz Sour Chewy Candy 40g" class="gumicukor-kep">
        <p>A Bazooka Rattlerz Sour Chewy Candy egy intenzíven savanyú, gyümölcsös ízű rágócukorka, amely édes, ropogós héjában savanyú porral van bevonva, és élénk, csípős savanyúságot kínál az ízlelőbimbóknak.</p> 
        <p class="ar">Ár: 563 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Bazooka Rattlerz Melting Fruity Candy 40g</h3> 
        <img src="./assets/cukorImg/Bazooka Rattlerz Melting Fruity Candy 40g.jpg" alt="Bazooka Rattlerz Melting Fruity Candy 40g" class="gumicukor-kep">
        <p>A Bazooka Rattlerz Melting Fruity Candy egy gyümölcsös ízű olvadós cukorka, amely édes, ropogós héjában intenzív gyümölcsös ízeket kínál, és könnyen felolvad a szájban.</p> 
        <p class="ar">Ár: 563 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Toxic Waste Worms Sour Gummy 85g</h3> 
        <img src="./assets/cukorImg/Toxic Waste Worms Sour Gummy 85g.jpg" alt="Toxic Waste Worms Sour Gummy 85g" class="gumicukor-kep">
        <p>A Toxic Waste Worms Sour Gummy egy intenzíven savanyú, kukac alakú gumicukor, amely extrém savanyú bevonattal és erőteljes gyümölcsös ízvilággal lepi meg az ízlelőbimbókat.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Toxic Waste Worms Sour Gummy 142g</h3> 
        <img src="./assets/cukorImg/Toxic Waste Worms Sour Gummy 142g.jpg" alt="Toxic Waste Worms Sour Gummy 142g" class="gumicukor-kep">
        <p>A Toxic Waste Worms Sour Gummy egy intenzíven savanyú, kukac alakú gumicukor, amely öt különböző gyümölcsös ízben (eper, ananász, lime, kék málna és mandarin) kínál extrém savanyú élményt, rendkívül csípős bevonattal.</p> 
        <p class="ar">Ár: 1290 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Toxic Waste Nuclear Fusion Sour Candy 57g</h3> 
        <img src="./assets/cukorImg/Toxic Waste Nuclear Fusion Sour Candy 57g.jpg" alt="Toxic Waste Nuclear Fusion Sour Candy 57g" class="gumicukor-kep">
        <p>A Toxic Waste Nuclear Fusion Sour Candy egy extrém savanyú kemény cukorka, amely két különböző gyümölcsös íz merész kombinációját kínálja, amelyek egyszerre robbannak az ízlelőbimbókon, kétszeres intenzitású savanyú élményt nyújtva.</p> 
        <p class="ar">Ár: 1190 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Toxic Waste Sour Smog Balls 85g</h3> 
        <img src="./assets/cukorImg/Toxic Waste Sour Smog Balls 85g.jpg" alt="Toxic Waste Sour Smog Balls 85g" class="gumicukor-kep">
        <p>A Toxic Waste Sour Smog Balls egy extrém savanyú kemény cukorka, amely hat különböző gyümölcsös ízben (lime, cseresznye, eper, citrom, kék málna és szőlő) kínál intenzív savanyú élményt.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Toxic Waste Smog Balls Sour Candy 48g</h3> 
        <img src="./assets/cukorImg/Toxic Waste Smog Balls Sour Candy 48g.jpg" alt="Toxic Waste Smog Balls Sour Candy 48g" class="gumicukor-kep">
        <p>A Toxic Waste Smog Balls Sour Candy egy extrém savanyú kemény cukorka, amely hat különböző gyümölcsös ízben (lime, cseresznye, eper, citrom, kék málna és szőlő) kínál intenzív savanyú élményt, ropogós külső borítással és savanyú folyékony töltelékkel.</p> 
        <p class="ar">Ár: 790 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Toxic Waste Atomic Bytes Sour Hard Candy 60g</h3> 
        <img src="./assets/cukorImg/Toxic Waste Atomic Bytes Sour Hard Candy 60g.jpeg" alt="Toxic Waste Atomic Bytes Sour Hard Candy 60g" class="gumicukor-kep">
        <p>A Toxic Waste Atomic Bytes Sour Hard Candy egy extrém savanyú keménycukorka, amely öt különböző gyümölcsös ízben (alma, görögdinnye, sötét cseresznye, oregoni málna és citrom) kínál intenzív savanyú élményt, amelynek íze fokozatosan bontakozik ki a fogyasztás során.</p> 
        <p class="ar">Ár: 590 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Nerds Gummy Clusters Very Berry 142g</h3> 
        <img src="./assets/cukorImg/Nerds Gummy Clusters Very Berry 142g.jpg" alt="Nerds Gummy Clusters Very Berry 142g" class="gumicukor-kep">
        <p>A Nerds Gummy Clusters Very Berry egy egyedi textúrájú cukorka, amely bogyós gyümölcsök intenzív ízvilágát kínálja, apró NERDS cukorkákkal kombinálva, így biztosítva egy roppanós és gyümölcsös édességélményt.</p> 
        <p class="ar">Ár: 2190 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Nerds Gummy Clusters 141g</h3> 
        <img src="./assets/cukorImg/Nerds Gummy Clusters 141g.jpg" alt="Nerds Gummy Clusters 141g" class="gumicukor-kep">
        <p>A Nerds Gummy Clusters egy egyedi textúrájú cukorka, amely Rainbow ízben készül, ahol a külső ropogós NERDS cukorkák egy puha gumicukor magot borítanak, kínálva egy intenzív, gyümölcsös ízvilágot szőlő, cseresznye és narancs aromákkal.</p> 
        <p class="ar">Ár: 1990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Nerds Gummy Clusters Theater Box 85g</h3> 
        <img src="./assets/cukorImg/Nerds Gummy Clusters Theater Box 85g.jpg" alt="Nerds Gummy Clusters Theater Box 85g" class="gumicukor-kep">
        <p>A Nerds Gummy Clusters Theater Box egy egyedi textúrájú cukorka, amely Rainbow ízben készül, ahol a külső ropogós NERDS cukorkák egy puha gumicukor magot borítanak, kínálva egy intenzív, gyümölcsös ízvilágot szőlő, cseresznye és narancs aromákkal.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Nerds Candy Grape and Strawberry 142g</h3> 
        <img src="./assets/cukorImg/Nerds Candy Grape and Strawberry 142g.jpg" alt="Nerds Candy Grape and Strawberry 142g" class="gumicukor-kep">
        <p>A Nerds Candy Grape and Strawberry egy klasszikus, két külön rekeszben kínált cukorka, amely az intenzív, édeskés szőlő és a friss, gyümölcsös eper ízét kombinálja apró, ropogós cukorkaszemekben.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Nerds Gummy Clusters Very Berry Share Pouch 85g</h3> 
        <img src="./assets/cukorImg/Nerds Gummy Clusters Very Berry Share Pouch 85g.jpg" alt="Nerds Gummy Clusters Very Berry Share Pouch 85g" class="gumicukor-kep">
        <p>A Nerds Gummy Clusters Very Berry Share Pouch egy egyedi textúrájú cukorka, amely bogyós gyümölcsök intenzív ízvilágát kínálja, ahol a puha gumicukor magot apró, ropogós NERDS cukorkák borítják, létrehozva egy komplex és élménydús édességet.</p> 
        <p class="ar">Ár: 1690 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Nerds Big Chewy Theater Box 120g</h3> 
        <img src="./assets/cukorImg/Nerds Big Chewy Theater Box 120g.jpg" alt="Nerds Big Chewy Theater Box 120g" class="gumicukor-kep">
        <p>A Nerds Big Chewy Theater Box egy egyedi textúrájú cukorka, amely ropogós NERDS héjjal és puha, gyümölcsös ízű (szőlő és eper) belsővel rendelkezik, kínálva egy komplex és élménydús édességet.</p> 
        <p class="ar">Ár: 1430 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Nerds Frosty Fruit Candy 141g</h3> 
        <img src="./assets/cukorImg/Nerds Frosty Fruit Candy 141g.jpg" alt="Nerds Frosty Fruit Candy 141g" class="gumicukor-kep">
        <p>A Nerds Frosty Fruit Candy egy karácsonyi különkiadású cukorka, amely görögdinnye, vadcseresznye és puncs ízeket tartalmaz, apró, ropogós cukorkaszemekben, amelyek élénk színekkel és intenzív gyümölcsös ízvilággal kínálnak ünnepi édességélményt.</p> 
        <p class="ar">Ár: 1690 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Wonka Nerds Grape And Strawberry 47g</h3> 
        <img src="./assets/cukorImg/Wonka Nerds Grape And Strawberry 47g.jpg" alt="Wonka Nerds Grape And Strawberry 47g" class="gumicukor-kep">
        <p>A Wonka Nerds Grape And Strawberry egy klasszikus, két rekeszben kínált apró, ropogós cukorka, amely az egyik oldalon intenzív szőlő, a másikon édes eper ízű, lehetővé téve a fogyasztónak, hogy külön-külön vagy keverve élvezze a két gyümölcsös ízt.</p> 
        <p class="ar">Ár: 990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Nerds Fruits Candy 142g</h3> 
        <img src="./assets/cukorImg/Nerds Fruits Candy 142g.jpg" alt="Nerds Fruits Candy 142g" class="gumicukor-kep">
        <p>A Nerds Fruits Candy egy színes, ropogós cukorka, amely többféle gyümölcsös ízt (például eper, szőlő, cseresznye, dinnye és narancs) kínál apró, változatos formájú és méretű cukorkaszemekben, intenzív és izgalmas ízélményt nyújtva.</p> 
        <p class="ar">Ár: 1490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Nerds Watermelon And Cherry 47g</h3> 
        <img src="./assets/cukorImg/Nerds Watermelon And Cherry 47g.jpg" alt="Nerds Watermelon And Cherry 47g" class="gumicukor-kep">
        <p>A Nerds Watermelon And Cherry egy kétrekeszes, ropogós cukorka, amely az egyik oldalon friss, nyári görögdinnye, a másikon pedig édes és intenzív cseresznye ízű apró cukorkaszemeket kínál, lehetővé téve a fogyasztónak, hogy külön-külön vagy keverve élvezze a két gyümölcsös ízt.</p> 
        <p class="ar">Ár: 990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Wonka Nerds Rope Rainbow Candy 26g</h3> 
        <img src="./assets/cukorImg/Wonka Nerds Rope Rainbow Candy 26g.jpg" alt="Wonka Nerds Rope Rainbow Candy 26g" class="gumicukor-kep">
        <p>A Wonka Nerds Rope Rainbow Candy egy színes, gumicukor alapú édesség, amelyet különböző ízű (szőlő, eper, citrom, narancs és egyéb gyümölcsös) apró, ropogós Nerds cukorkák borítanak, így kínálva egy komplex, többrétegű ízélményt.</p> 
        <p class="ar">Ár: 990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Skittles Crazy Sours 38g</h3> 
        <img src="./assets/cukorImg/Skittles Crazy Sours 38g.jpg" alt="Skittles Crazy Sours 38g" class="gumicukor-kep">
        <p>A Skittles Crazy Sours egy élénk és savanyú gyümölcsízű cukorkaválogatás, amely intenzív és frissítő ízélményt nyújt minden falatban.</p> 
        <p class="ar">Ár: 299 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Skittles Fruits 38g</h3> 
        <img src="./assets/cukorImg/Skittles Fruits 38g.jpg" alt="Skittles Fruits 38g" class="gumicukor-kep">
        <p>A Skittles Fruits egy élénk és gyümölcsös cukorkaválogatás, amely öt különböző ízzel biztosít vidám és édes rágási élményt.</p> 
        <p class="ar">Ár: 360 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Skittles Crazy Sours 136g</h3> 
        <img src="./assets/cukorImg/Skittles Crazy Sours 136g.jpg" alt="Skittles Crazy Sours 136g" class="gumicukor-kep">
        <p>A Skittles Crazy Sours egy nagyobb kiszerelésű, savanyú gyümölcsízű cukorkaválogatás, amely intenzív és frissítő ízekkel garantálja a hosszan tartó élvezetet.</p> 
        <p class="ar">Ár: 980 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Skittles dóza 195g</h3> 
        <img src="./assets/cukorImg/Skittles dóza 195g.jpg" alt="Skittles dóza 195g" class="gumicukor-kep">
        <p>A Skittles dóza egy nagy kiszerelésű, színes és gyümölcsös cukorkaválogatás, amely vidám és édes ízélményt nyújt minden falatban.</p> 
        <p class="ar">Ár: 3868 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Skittles Fruity Tea 40g</h3> 
        <img src="./assets/cukorImg/Skittles Fruity Tea 40g.jpg" alt="Skittles Fruity Tea 40g" class="gumicukor-kep">
        <p>A Skittles Fruity Tea egy gyümölcsös ízű tea, amely a Skittles édességeinek frissítő, édes és aromás változatát kínálja forró ital formájában.</p> 
        <p class="ar">Ár: 990 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Bazooka Rattlerz Fruity Share Bag 100g</h3> 
        <img src="./assets/cukorImg/Bazooka Rattlerz Fruity Share Bag 100g.jpg" alt="Bazooka Rattlerz Fruity Share Bag 100g" class="gumicukor-kep">
        <p>Változatos gyümölcsös ízek keveréke, intenzív és édes aromákkal.</p> 
        <p class="ar">Ár: 1133 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Bazooka Rattlerz Sour Share Bag 120g</h3> 
        <img src="./assets/cukorImg/Bazooka Rattlerz Sour Share Bag 120g.jpg" alt="Bazooka Rattlerz Sour Share Bag 120g" class="gumicukor-kep">
        <p>Csípős, savanyú ízek kavalkádja, amely bizsergető érzést kelt a nyelven.</p> 
        <p class="ar">Ár: 1133 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Bazooka Rattlerz Fruity Bag 40g</h3> 
        <img src="./assets/cukorImg/Bazooka Rattlerz Fruity Bag 40g.jpg" alt="Bazooka Rattlerz Fruity Bag 40g" class="gumicukor-kep">
        <p>Kompakt kiszerelésű, élénk gyümölcsös ízekkel teli rágócukorka.</p> 
        <p class="ar">Ár: 304 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Bazooka Rattlerz Fruity Chewy Candies 120g</h3> 
        <img src="./assets/cukorImg/Bazooka Rattlerz Fruity Chewy Candies 120g.jpg" alt="Bazooka Rattlerz Fruity Chewy Candies 120g" class="gumicukor-kep">
        <p>Puha, rágós textúrájú cukorkák gazdag, gyümölcsös ízvilággal.</p> 
        <p class="ar">Ár: 1133 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Bazooka Rattlerz Sour Chewy Candies 120g</h3> 
        <img src="./assets/cukorImg/Bazooka Rattlerz Sour Chewy Candies 120g.jpg" alt="Bazooka Rattlerz Sour Chewy Candies 120g" class="gumicukor-kep">
        <p>Savanyú, csípős ízű rágós cukorkák, amelyek intenzív ízélményt nyújtanak.</p> 
        <p class="ar">Ár: 1133 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Bazooka Rattlerz Fruity 12x120g</h3> 
        <img src="./assets/cukorImg/Bazooka Rattlerz Fruity 12x120g.jpg" alt="Bazooka Rattlerz Fruity 12x120g" class="gumicukor-kep">
        <p>Nagyobb kiszerelésű, változatos gyümölcsös ízeket tartalmazó csomag.</p> 
        <p class="ar">Ár: 4100 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Bazooka Rattlerz Fruity Chewy Candy 10x18g</h3> 
        <img src="./assets/cukorImg/Bazooka Rattlerz Fruity Chewy Candy 10x18g.jpg" alt="Bazooka Rattlerz Fruity Chewy Candy 10x18g" class="gumicukor-kep">
        <p>Egyéni csomagolású, gyümölcsös ízű rágócukorkák praktikus kiszerelésben.</p> 
        <p class="ar">Ár: 1200 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Bazooka Juicy Drop Pop 26g</h3> 
        <img src="./assets/cukorImg/Bazooka Juicy Drop Pop 26g.jpg" alt="Bazooka Juicy Drop Pop 26g" class="gumicukor-kep">
        <p>Kemény nyalóka ízletes gyümölcsös ízekben, kiegészítve egy külön tartályban lévő savanyú folyadékkal, amit rá lehet csepegtetni a nyalókára az intenzívebb ízélményért.</p> 
        <p class="ar">Ár: 950 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Bazooka Push Pop 15g</h3> 
        <img src="./assets/cukorImg/Bazooka Push Pop 15g.jpg" alt="Bazooka Push Pop 15g" class="gumicukor-kep">
        <p>Nyomható nyalóka, amely lehetővé teszi, hogy élvezd az édes, gyümölcsös ízeket, majd elmentsd későbbre a praktikus tubusban.</p> 
        <p class="ar">Ár: 490 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Bazooka Ring Pop 15g</h3> 
        <img src="./assets/cukorImg/Bazooka Ring Pop 15g.jpg" alt="Bazooka Ring Pop 15g" class="gumicukor-kep">
        <p>Gyűrű alakú nyalóka, amely intenzív gyümölcsös ízeket kínál, miközben játékos kiegészítőként is szolgál.</p> 
        <p class="ar">Ár: 390 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Toxic Waste Yellow Drum Extreme Sour Candy 42g</h3> 
        <img src="./assets/cukorImg/Toxic Waste Yellow Drum Extreme Sour Candy 42g.jpg" alt="Toxic Waste Yellow Drum Extreme Sour Candy 42g" class="gumicukor-kep">
        <p>Klasszikus sárga dobozos változat, amely öt ultra-savanyú ízt tartalmaz: alma, fekete cseresznye, görögdinnye, citrom és kék málna.</p> 
        <p class="ar">Ár: 790 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Toxic Waste Green Drum Extreme Sour Candy 42g</h3> 
        <img src="./assets/cukorImg/Toxic Waste Green Drum Extreme Sour Candy 42g.jpg" alt="Toxic Waste Green Drum Extreme Sour Candy 42g" class="gumicukor-kep">
        <p>Zöld dobozos változat, amely öt új savanyú ízt kínál: lime, kiwi, dinnye, zöldalma és zöld körte.</p> 
        <p class="ar">Ár: 790 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Toxic Waste Red Drum Extreme Sour Candy 42g</h3> 
        <img src="./assets/cukorImg/Toxic Waste Red Drum Extreme Sour Candy 42g.jpg" alt="Toxic Waste Red Drum Extreme Sour Candy 42g" class="gumicukor-kep">
        <p>Piros dobozos változat, amely öt további savanyú ízt tartalmaz: málna, áfonya, piros körte, eper és piros szőlő.</p> 
        <p class="ar">Ár: 790 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Toxic Waste Purple Drum Extreme Sour Candy 42g</h3> 
        <img src="./assets/cukorImg/Toxic Waste Purple Drum Extreme Sour Candy 42g.jpg" alt="Toxic Waste Purple Drum Extreme Sour Candy 42g" class="gumicukor-kep">
        <p>Lila dobozos változat, amely négy új savanyú ízt kínál: áfonya, szeder, fekete cseresznye és szőlő.</p> 
        <p class="ar">Ár: 790 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>

    <div class="gumicukor-card">
      <h3>Toxic Waste Nuclear Sludge Chew Bar Sour Green Apple 20g</h3> 
        <img src="./assets/cukorImg/Toxic Waste Nuclear Sludge Chew Bar Sour Green Apple 20g.jpg" alt="Toxic Waste Nuclear Sludge Chew Bar Sour Green Apple 20g" class="gumicukor-kep">
        <p>Savanyú zöldalma ízű rágható cukorka rúd formában.</p> 
        <p class="ar">Ár: 199 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
    </div>


  </div>
</div>
  