
<div class="warheads-lista">
    <div class="warheads-item">
      <div class="warheads-card">
  
        <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/TKZombie.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/TKWaves.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/TKNitro.jpg" alt="termék 1" class="warheads-kep">
        
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/TKFajita.jpg" alt="termék 1" class="warheads-kep">
       
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="warheads-card">
        <h3>Termék 1</h3> 
          <img src="./assets/warheadsImg/TKChili.jpg" alt="termék 1" class="warheads-kep">
          <p>Leírás 1</p> 
          <p class="ar">Ár: 1500 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/TKCheese.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/Steak.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/Puff.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/PrPap.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/PrBBQ.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/HotPf.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/HotCr.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/HotCheese.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/Chipito.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/HotCheese.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/ChiliCheese.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/Chili.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/Chedarpop.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/ChedarPf.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/Chedar.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="warheads-card">
      <h3>Termék 1</h3> 
        <img src="./assets/warheadsImg/Beef.jpg" alt="termék 1" class="warheads-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      
    
    </div>
  </div>
  
