
<div class="sour-lista">
    <div class="sour-item">
      <div class="sour-card">
  
        <h3>Termék 1</h3> 
        <img src="./assets/sourImg/TKZombie.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/TKWaves.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
     
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/TKNitro.jpg" alt="termék 1" class="sour-kep">
        
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/TKFajita.jpg" alt="termék 1" class="sour-kep">
       
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      <div class="sour-card">
        <h3>Termék 1</h3> 
          <img src="./assets/sourImg/TKChili.jpg" alt="termék 1" class="sour-kep">
          <p>Leírás 1</p> 
          <p class="ar">Ár: 1500 Ft</p>
          <div class="mennyiseg">
            Mennyiség:<input type="number" value="1">
          </div>
          <button class="kosar-gomb">Kosárba rakom</button>
        </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/TKCheese.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p>
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button>
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/Steak.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/Puff.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/PrPap.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/PrBBQ.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/HotPf.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/HotCr.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/HotCheese.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/Chipito.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/HotCheese.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/ChiliCheese.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/Chili.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/Chedarpop.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/ChedarPf.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/Chedar.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
    <div class="sour-card">
      <h3>Termék 1</h3> 
        <img src="./assets/sourImg/Beef.jpg" alt="termék 1" class="sour-kep">
        <p>Leírás 1</p> 
        <p class="ar">Ár: 1500 Ft</p> 
        <div class="mennyiseg">
          Mennyiség:<input type="number" value="1">
        </div>
        <button class="kosar-gomb">Kosárba rakom</button> 
      </div>
  
      
    
    </div>
  </div>
  
